[2013-05-24 07:34] gsomoza opened #1 "Quotes in Issue Summary"
Issues that have double-quotes in the Issue Summary will not load the Harvest Tracker properly.

[2013-05-28 10:25] #1 closed, assigned to gsomoza

[2013-07-26 07:42] gsomoza opened #2 "JIRA Worklog Integration"
From a [review](https://marketplace.atlassian.com/plugins/com.strategery.plugins.harvest.jira-harvest-tracker#reviews) from Josh Lewis on 25 Jul 2013:

[2013-09-28 07:03] xleioo opened #3 "Login with Google Account."
This "Harvest Real-time Tracking" addon works perfectly, except the login funtion. My company use google account to login Harvest via Oauth2. But this addon popup a form which only supports username/password to login. It's inconvient and I have to go to harvetapp website to login and back to jira to use this addon.

[2013-09-28 09:32] #3 closed, assigned to nobody

[2013-09-29 08:00] gsomoza opened #4 "OnDemand Integration"
Make the plugin available for OnDemand instances.

[2013-10-24 09:35] #4 closed, assigned to nobody

[2014-01-16 11:06] #2 closed, assigned to gsomoza

[2014-01-17 09:32] gsomoza opened #5 "Error saving the new Day Entry in Harvest"
See attached screenshots. I tried on a few different issues, old and new. Same error.

![screenshot 2014-01-16 19 41 51](https://f.cloud.github.com/assets/106219/1939082/25637d04-7f5a-11e3-9e5b-034e68aa0b96.png)

[2014-01-17 09:50] gsomoza opened #6 "Use Searchable Drop-downs"
Some people have long client and/or project lists, so we need to make the drop-downs searchable.

Let's use [chosen.js](http://harvesthq.github.io/chosen/) or [Select2](http://ivaynberg.github.io/select2/), at least until the AUI Select2 experimental component is finally made stable.

[2014-01-18 12:35] #6 closed, assigned to enriquepiatti

[2014-01-23 18:04] jimmyrosen opened #7 "UI sometimes not working"
GREAT JOB on doing a "real" integration with harvest!!! You rock.

Anyway; For some reason my UI sometimes break in all view but the issue view.

Works:
http://jira.angrycreative.se/browse/SAL-32

Breaks:
http://jira.angrycreative.se/servicedesk/agent/SAL/queues/20/SAL-32 (Service desk)
http://jira.angrycreative.se/browse/SAL-35?jql=project%20%3D%20SAL (Browse)

[2014-01-24 08:59] #7 closed, assigned to enriquepiatti

[2014-02-15 06:53] matskm opened #8 "Changing host name"
I input my harvest host incorrectly (including the https such that the final host was something like https://https://<myhost>) -- and can't see a way to reset this?

[2014-02-19 08:06] Boberober opened #9 "Need start and end time"
We need to be able to give start and end times when we log time, just like in Harvest.

[2014-02-19 08:11] Boberober opened #10 "Need search function to search both project and client name"
Many of our projects are named the same thing, since we do a lot of support for our clients. If we do projects for the client, we usually name the project something else and it goes on another budget.

Then many projects are named "Service & Support", these are our service projects. In Harvest we usually search for the client name, and then select the project. This is not possible with the current

[2014-02-24 13:36] #10 closed, assigned to nobody

[2014-02-24 13:36] #8 closed, assigned to nobody

[2014-02-24 13:40] #9 closed, assigned to enriquepiatti

[2014-04-10 19:04] sdishman opened #11 "Start date often chooses wrong AM/PM format"
When creating a time entry and providing the start time, if I enter something like "2:30" it will submit that as 2:30AM, even if I'm creating the entry at 2:35PM.  If I do the same thing directly in Harvest, it seems to be much smarter about determining what I meant.

[2014-04-10 19:07] sdishman opened #12 "Stopping time directly from Harvest doesn't log work into JIRA"
Steps to reproduce:
1. Using the Harvest plugin for JIRA, click "Track Time".
2. Start a running timer.
3. Using the Harvest website (or app, etc.) stop the running timer created by the plugin.

The plugin will correctly reflect the fact that the timer isn't running anymore (button says "Track Time" now instead of "Start Timer", but nothing ever gets added to the JIRA work history.

We are current

[2014-04-11 07:27] #12 closed, assigned to nobody

[2014-04-14 10:12] bitflorist opened #13 "Special characters prevent entry from saving"
with special (german) characters

[code]

without special characters

[code]

![_mtsup-157__default_tags_werden_in_metabereich_der_seite_geschrieben_-_beyou_media_tracker](https://cloud.githubusercontent.com/assets/339111/2693992/36632c38-c3bd-11e3-9b77-5dc34fde0f37.png)

[2014-04-16 16:17] sdishman opened #14 "Time can't be adjusted once a timer has begun?"
Perhaps I'm missing something, but here is the use case I'm struggling with at this very moment:

I started a timer via JIRA about an hour ago.  I finished the work on that timer about a half-hour ago, and started working on something else but forgot to stop the timer.

When I go to stop the timer, I'd like to manually set the End time to a half-hour ago so that it logs work appropriately.  Howeve

[2014-04-17 14:19] sdishman opened #15 "Work log not created when starting a timer while another was previously running"
I hate to keep adding issues like this, but we are seriously evaluating this plugin to determine if it is worth paying for, and I keep running across everyday issues that are causing huge hassles to fix.

Here is the scenario:
1. Click "Track Time" for an issue in JIRA to begin a timer.
2. I have a need to switch from working on one issue to the other.  The first issue is not complete; I just need

[2014-04-17 14:23] sdishman opened #16 "Plugin requires me to login to Harvest far too frequently"
I don't have a handle on what's causing this, or even how to reproduce it reliably, but what I do know is that the new version of this plugin requires me to login to Harvest far more often than the previous version did.

Previously, it seemed that if I had a valid Harvest session in another browser tab, then the plugin never seemed to have a problem.  However, I've tried creating several timers to

[2014-04-17 14:29] sdishman opened #17 "Plugin is not as good at "remembering" the correct Harvest Project/Task as it used to be"
In the previous version of the plugin (which we have been using for a long while, and loved, other than the lack of Work Log integration), it seemed to do a really good job of remembering which Harvest project should be used.  Our Harvest projects are somewhat correlated to our JIRA projects, and it seemed that before, when I would track time on an issue for (Harvest) Project X, and then I switche

[2014-04-18 13:51] #13 closed, assigned to nobody

[2014-04-19 14:04] #5 closed, assigned to enriquepiatti

[2014-06-23 14:11] autonomatt opened #18 "Issue title not being copied over anymore"
The issue title used to be copied over to the task notes. It does not do that anymore.
It sounds like a small thing but it's actually very disruptive to our workflow.
- feature request: Add issue number in front of issue title when copying over to harvest notes

[2014-06-23 18:06] #18 closed, assigned to nobody

[2014-06-24 23:41] chimpandz opened #19 "Can't configure"
I am using the trial.
I click 'configure' in the plugin manager and get this message:

"Sorry, you cannot update your plugin license on this screen. Please use the Plugin Manager instead."

[2014-06-25 08:59] dubaussi opened #20 "On demand version requires page refresh to stop/start"
Using the on demand plugin.
Log in and track time. The timer starts as expected.
Then try to stop timer without refreshing screen. The plugin box freezes.
Refresh the page and timer is still active.
Click stop time and this time the timer starts
Click start timer again and the plugin freezes.
Click refresh and you can stop the timer.

[2014-07-08 16:39] TheIronMarx opened #21 "Generated Harvest note is empty"
What used to fill in the Harvest popup's notes with the issue's summary and a hyperlink to the issue itself no longer does so. It remains blank. From the Harvest page then, 10 timers on 1 project is unless I add notes myself, but that's obnoxious and even that I can't hyperlink back to the issue.

[2014-07-08 16:40] TheIronMarx opened #22 "Time is no longer logged into the JIRA issue when timer is stopped under any conditions"

[2014-07-17 09:21] #21 closed, assigned to nobody

[2014-07-17 09:21] #22 closed, assigned to nobody

[2014-07-22 19:59] kvarga opened #23 "Not compatible with 6.3.1"
Plugin seems to work, but is showing up as not compatible.

[2014-08-12 21:46] TheIronMarx opened #24 "Users are unable to log in using Safari browser"
Tested on six users with Safari, all were unable to get past login. When incorrect password is entered, proper feedback is given. When correct password (and other credentials) are entered, the panel refreshes and blanks out the password field without any other feedback.

Some 20+ other users on Chrome have no difficulty logging in.

[2014-08-13 06:46] #19 closed, assigned to nobody

[2014-08-16 07:07] andrey0770 opened #25 "The JIRA add-on does not work"
When I click START TIMER it just hangs up and I finally I see this http://joxi.ru/FgPvU4wyTJDpAoJd-4Q

[2014-08-19 06:57] #23 closed, assigned to nobody

[2014-08-20 20:15] meirlipskier opened #26 "Harvest plugin incompatible with my JIRA server 6.3.1"
I had an issue with the add-on not being compatible to my JIRA server 6.3.1
I requested an update and received a message that it has been updated.

Tuesday 7:12am
"Yes, the update was released today. If you run into any other issues we have an issue tracker at https://github.com/Strategery-Inc/jira-harvest-time-tracker - enjoy! Gabriel"

Unfortunately, i'm still having an issue with tracking time.

[2014-09-09 08:19] #11 closed, assigned to nobody

[2014-09-09 08:20] #15 closed, assigned to gsomoza

[2014-09-12 16:20] #25 closed, assigned to gsomoza

[2014-10-03 23:33] BrendanByers opened #27 "Commenting"
Would it be possible to add comments to Jira when entering time in the Harvest time tracker so developers can provide technical detail of work done to the jira ticket?

[2014-10-07 09:34] dxtr0dsgnz opened #28 "Mapping of field to preselect project"
Hi,
we are currently evaluating Harvest and its JIRA integration.
We have dozens of projects in Harvest. Many of them are numbers or have similar names. It is difficult to find them in the dropdown.
I would suggest to implement a mapping here. In plugin's configuration in the admin backend, I would like to be able to define a mapping field. When calling the "time tracking" dialog from an issue, th

[2014-10-07 09:38] jraduenz opened #29 "Permissions: Make time tracking button visibility dependend from permissions"
Hi,
in our JIRA we have projects for internal development and some for support tickets. While all internal users should see this field, customers should not.
I would suggest to make time tracking button visibility depend on group membership. This group should be configured in admin backend.
Thanks,
Julian

[2014-10-07 15:50] zenchicken opened #30 "Add commands to period menu for time tracker"
It would be awesome if the plugin could add its own commands to the period (.) menu to quickly start/stop the timer from an issue detail screen.

![screen shot 2014-10-07 at 10 51 04 am](https://cloud.githubusercontent.com/assets/11179/4545333/1756d774-4e3a-11e4-8350-5148a8767ea2.png)

[2014-10-08 06:04] #28 closed, assigned to nobody

[2014-10-08 06:05] #26 closed, assigned to gsomoza

[2014-10-23 20:24] smiller48 opened #31 "time record showing on my timesheet from another user"
A different user tracked time to a ticket using the jira-harvest plugin.  Their time entry is now showing up on my timesheet.

[2014-10-25 12:58] #31 closed, assigned to nobody

[2014-11-05 23:44] michaelcremean opened #32 "Need to be able to manually enter time"
This is a nice plugin, and would serve our needs with one exception:

We won't always use timers to enter Harvest tasks. With the current plugin, you cannot manually enter a time.

For example:

I work 45 minutes on a particular task we'll call [#TP1]  I don't need to use a timer, since I already did the work but I do need to enter that time into Jira/Harvest.

THere is no current method that I ca

[2014-11-06 11:32] #32 closed, assigned to nobody

[2014-11-06 19:06] gabrielsomoza opened #33 "Notes are not being added to Worklogs when manually entering time"
Originally reported in ticket #32

[2014-11-06 19:07] gabrielsomoza opened #34 "Change Button to "Submit Entry" when manually entering time"
Originally suggested in #32

[2014-11-13 18:21] meirlipskier opened #35 "Checkbox to remember login info.."
Hi,

It would be appreciated if in the next version released, the user would have a checkbox option of saving the users login info when signing in..

-Meir

[2015-01-20 11:36] gabrielsomoza opened #36 "Some Users Experiencing Timeouts"
Some users are experiencing time-outs with the communication between their server and Harvest. Review the current API implementation to see if there's anything we can improve in order to make it more robust or at least be able to gather more debug data in order to get to the bottom of the issue.

[2015-02-19 10:51] VincentMarmiesse opened #37 "Disable automatic worklog"
Add a check-box to the time-tracking form to disable the automatic creation of a worklog in JIRA if unchecked (the check-box should be checked by default).

[2015-02-19 10:59] gabrielsomoza commented on #37
Sure, we'll add that to the queue.

[2015-03-20 00:51] benglass commented on #17
:+1:

[2015-03-20 00:57] benglass opened #38 "Ability to track time from JIRA Agile Boards"
We use jira kanban boards to visualize our priority tasks across projects and when working on a sprint. When you click on an issue and it opens in the sidebar of the board page the harvest track time button is not available which  means we have to go to the task detail page to start a timer. Is it possible to have the button appear in this view?

[2015-03-20 09:16] gabrielsomoza commented on #38
Yes, in fact its in our roadmap. I'll update you here when its out (no ETA yet).

[2015-03-20 13:32] vdwrcarlson opened #39 "Harvest app hostname no longer remembered."
Hello, since upgrading the plugin to 2.5.0, the Harvest hostname is no longer remembered in the popup form that appears when starting to track time on an issue, and we have to type it in manually each day. Was this caused by the upgrade? If so, can this functionality be brought back?

[2015-03-20 15:41] gabrielsomoza commented on #39
Related to #17 - could you subscribe to that ticket to get updates?

[2015-03-20 15:41] #39 closed

[2015-03-20 16:54] vdwrcarlson commented on #39
Thanks Gabriel,

However, I want to be sure it's clear that I'm referring to a new
problem in 2.5.0 where it does not remember the harvestapp.com hostname
when first logging in. So it's a distinct issue from the one in #17
where it doesn't remember task/project associations. That issue has
existed for some time prior to this hostname problem.

I imagine you realize that, just want to be sure I'm b

[2015-03-21 15:43] gabrielsomoza commented on #39
Yes, that's clear - I'm linking it to #17 simply because we'll tackle both of them together. Don't forget to subscribe to that ticket in order to get updates.

[2015-03-31 14:05] mahuani opened #40 "Compatability with JIRA 6.4"
Any chance for a version bump to get compatibility with JIRA 6.4?

[2015-04-02 16:18] mahuani commented on #40
Just saw that an update was available this morning. Thanks!

[2015-04-02 16:18] #40 closed

[2015-04-03 17:05] cody-sitegoals opened #41 "Edit worklog does not update harvest"
When a worklog entry is edited in Jira, it does not reflect in Harvest. The inverse is also true.

[2015-04-07 08:57] gabrielsomoza commented on #41
Unfortunately this isn't a feature we can easily add because of limitations with the Harvest API. If they add the features we'd need to do this in the future, we'll revisit the idea. Thanks for submitting!

[2015-04-07 08:57] #41 closed

[2015-04-30 18:57] cprieto741 opened #42 "Wrong URL to Harvest"
The links provided in the Harvest Time Tracking popup are incorrect. They show an additional "https//" in the link for "Overview" & "My Timesheet" so the link looks like:

https://https//corporation.harvestapp.com

[2015-04-30 19:00] cprieto741 commented on #16
Hi,
Do you have an update on this ticket?

[2015-04-30 19:00] meirlipskier commented on #42
Why am I getting emails regarding tickets for this plugin that I am not
involved with??
This is the 3rd time already.

Please update your notification scheme to only notify relevant parties
involved!

Meir Lipskier

On Thu, Apr 30, 2015 at 11:57 AM, cprieto741 <notifications@github.com>
wrote:

--

*Meir Lipskier*

*Director of Tech Operations*

*PRODEGE LLC*

*P. (310)735-0552 x 201*

*M. (310)70

[2015-05-04 17:18] gabrielsomoza commented on #42
@meirlipskier we don't have control over a "notification scheme" here at Github - but you do:

1. Go to the repository's main page (https://github.com/Strategery-Inc/jira-harvest-time-tracker)
2. Right next to the title there are 3 buttons: Unwatch, Star and Fork. Click on the Unwatch button to see a menu.
3. Select your desired option.

[2015-05-04 17:19] gabrielsomoza commented on #42
@cprieto741 at the prompt when logging in did you enter "https://" at the beginning of the first field? That could be the cause of the issue.

Either way, its definitely a bug.

[2015-05-04 17:21] gabrielsomoza commented on #16
Not yet, we're doing this as part of a big re-design of the plugin so it will take a while longer..

[2015-05-05 22:08] sdishman opened #43 "Timer created for wrong person?"
We noticed some very strange behavior today, and I can't quite explain it but I'm hoping that by sending along our findings to the development team, you'll have a better idea of what might have happened.

Here's the rundown:

1. Developer A created a Harvest Timer (from JIRA, obviously) for Project X.
2. Developer A realized that Project X was the wrong Project to choose, so the time record had to

[2015-05-06 13:33] gabrielsomoza commented on #43
Hi @sdishman,

Are you able to consistently duplicate this? The Harvest session is stored into the users's JIRA session, which means that as long as each JIRA user has a different Harvest user then they should never mix up.

Could you confirm that both developers were using separate JIRA and also separate Harvest accounts?

[2015-05-06 13:34] gabrielsomoza commented on #42
@NicolaXB try to log out (from the popup dialog) - that should allow you to enter different credentials and a different URL.

We'll make sure this gets fixed in the next release.

[2015-05-06 13:53] sdishman commented on #43
Not consistently reproducible (tried immediately afterwards following the same steps and couldn't reproduce).

The two developers have completely separate JIRA/Harvest users, and were working on completely separate machines.

[2015-06-04 12:00] gsomoza opened #44 "Improve Harvest Session Management"
Right now we're saving Harvest session info into the JIRA session. This seems to cause all kinds of trouble for different users:
- https://github.com/Strategery-Inc/jira-harvest-time-tracker/issues/43
- https://github.com/Strategery-Inc/jira-harvest-time-tracker/issues/16
- https://github.com/Strategery-Inc/jira-harvest-time-tracker/issues/17

Re-implement Harvest sessions using JIRA best-practice

[2015-06-04 12:01] gabrielsomoza commented on #43
I'll close this ticket because we'll start work on refactoring session management. Please follow updates on the ticket mentioned above (#44).

[2015-06-04 12:01] #43 closed

[2015-06-04 12:02] gabrielsomoza commented on #16
Closing this ticket because we'll start work on refactoring session management, which will include a fix for this. Please follow further updates on #44

[2015-06-04 12:02] #16 closed

[2015-06-04 12:02] gabrielsomoza commented on #17
Closing this ticket because we'll start work on refactoring session management, which will include a fix for this. Please follow updates on #44

[2015-06-04 12:02] #17 closed

[2015-06-04 12:04] gsomoza opened #45 "Admin Configuration Section"
A) Create an Admin configuration section for this plugin.
B) Prompt admins to configure the plugin immediately after the plugin is installed / updated.

The admin section will include settings for the following related tickets:
- #44

[2015-06-04 12:16] gsomoza opened #46 "Admin: Mapping of Harvest Projects to JIRA Projects"
Add a tool in the admin configuration section to allow Admins to map Harvest projects to JIRA projects. I will refer to this configuration as the "Admin Mapping" throughout this ticket.

When a user opens a JIRA ticket the following use-cases should be considered:

A. If its a user with no mappings (e.g. a new user).
1. If an "Admin Mapping" exists for the current JIRA project then use that value

[2015-06-04 12:59] gabrielsomoza commented on #42
Closing this because it will be addressed with #44. Please subscribe to that ticket for updates.

[2015-06-04 12:59] #42 closed

[2015-06-04 13:01] gabrielsomoza commented on #35
Closing this because this feature will be included in #46. Please subscribe to that ticket if you'd like to get updates.

[2015-06-04 13:02] #35 closed

[2015-06-04 13:06] gabrielsomoza commented on #29
We'll add a permission (or similar setting) that will allow Admins to choose which users will see the tracker and which won't.

[2015-06-04 14:39] sdishman commented on #44
This sounds exciting and will be a really huge help for our organization.  I'm particularly interested in part B1, where developers won't have to type in an endpoint anymore.  This is a constant frustration for our whole team.  I've tried to get around it by saving that data in LastPass, but it is very flaky and seems to have stopped working for me entirely.

[2015-06-04 14:49] gabrielsomoza commented on #44
Yeah, LastPass sucks at that... These changes should definitely improve user experience considerably and also fix many secondary issues we have related to sessions.

[2015-06-17 08:17] PH2M opened #47 "Infinite Loading / Error 403"
Hi!

We use your module last year until Marth 2015.
After that, our JIRA had 403 errors for each page, and an Ajax loading stop the page.

When we disable Jira-Harvest module, JIRA works fine.

In Google Chrome console, we can find this error:

[code]
[code]

If you have an idea.. ;-)

Fred.

[2015-06-17 08:20] gabrielsomoza commented on #47
Thanks for reporting this! We'll look into it. We're currently in the process of working on a new version that should stabilise things, so we'll add this to the short-term queue.

[2015-06-20 23:12] kuya1284 opened #48 "Display the Log Work screen after stopping the timer"
Rather than automatically creating a worklog, I think a better user experience would be to trigger the Log Work screen to appear with the Time Spent field already pre-populated. This will give users the ability to add their worklog notes, as well as comments that could appear on the Comments tab.

Currently, my (annoying and cumbersome) workflow is to
- Start the timer
- Work
- Stop the timer
- Cl

[2015-06-20 23:18] kuya1284 commented on #14
I just wanted to drop a comment that with the Duration setting, the workaround that Gabriel mentioned is exactly what we've had to do. In addition, if needed, we would also manually edit the worklog entry in JIRA as well. I never noticed the Time Settings option. I'll have to play around with that. Thanks for pointing that out. (I wonder what impact this would have on the Google Chrome Extension i

[2015-06-22 07:57] gabrielsomoza commented on #48
Thanks for the great suggestion. My current understanding is that pre-filling the form would be close to impossible with the current JIRA API, so that's why it wasn't done like this originally. But we'll look into it anyway, I can see why this would be a better approach for everyone.

[2015-06-22 09:54] kuya1284 commented on #48
Would it be possible to target the field via Javascript?

[2015-06-22 12:33] gabrielsomoza commented on #48
That would be very unstable (a small change on their end would make things blow up), but we'll investigate if there's a reliable way to do it.

[2015-06-25 08:48] FredericMartinez commented on #47
Hi Gabriel,

We renew your licence, and problem has gone immediately.
So, could we keep to use your Harvest module after the deadline licence please?

Fred.

Issue closed.

[2015-06-25 08:51] gabrielsomoza commented on #47
Oh, I see. Are you using OnDemand or the Download version?

[2015-07-15 09:31] gabrielsomoza commented on #33
Looks like this is working if you manually enter time into the text-box before clicking the "Start Tracking" button.

[2015-07-15 09:31] #33 closed

[2015-07-15 09:34] gsomoza opened #49 "Change Button Title to "Submit" When Manually Tracking Time"
In the popup, the user can track time manually by entering an amount of time in the corresponding text-box (e.g. "0:30" for 30 minutes) and then clicking on the "Start Tracking" button.

However, this is a bit confusing because the system doesn't really "Start Tracking": it just adds a new time-entry with a fixed time equal to the amount the user manually entered.

*Feature*
Whenever the user manu

[2015-07-15 09:34] gabrielsomoza commented on #49
Comes from #32

[2015-07-15 09:39] #34 closed

[2015-07-22 18:20] kuya1284 opened #50 "Work Log must use the Harvest Start Time instead of Stop Time in JIRA's Date Started field"
When stopping my timer in JIRA, it appears that the work log that gets generated is using the date and **time** when I stopped the timer.  Since the field in JIRA is called **Date Started**, this addon should keep track of the time I started my timer so that it can be used when stopping the timer.  This is a pretty important detail, especially when we need to know when employees started working.

[2015-07-24 06:04] kuya1284 commented on #50
Updated the title of this issue.

[2015-07-30 13:53] artturig opened #51 "Ability to insert date via Jira"
Nice plugin, just what our company needs. We have had this under testing for a while and so far good feedback from our team.

Is it on road map or could you add feature for the date also for the manual entry?

Plenty of times we have situation where you are able to log work only next day aka day later than work done. That will cause logs to be out of sync since we have to manually edit day from Ha

[2015-07-30 13:56] artturig opened #52 "Notes to worklog entry"
What I tried to research this has worked previously in cloud version, now notes only appear in Harvest not to Jira worklog

[2015-07-30 13:58] sdishman commented on #51
This would be helpful for us as well.  Just this morning I realized that I accidentally left a time tracker running overnight.  This morning I fixed it by going through these steps:

1. Delete timer from Harvest
2. Go back into JIRA plugin and enter the time range.  JIRA then creates the work log for today, and adds to Harvest for today.
3. Go back into Harvest and change the time record from toda

[2015-08-03 09:07] gabrielsomoza commented on #51
We can certainly work on this feature. We'll keep in on the queue for future development. You'll get notified of any progress through this ticket.

Thanks for your suggestion!

[2015-08-03 09:08] gabrielsomoza commented on #52
Could you confirm this is what you mean: worklogs are not being added through our plugin on your OnDemand instance?

[2015-08-03 10:14] artturig commented on #51
Brilliant, thanks.

[2015-08-03 10:21] artturig commented on #52
I think this was misunderstanding from my side. I tough that the note (comment) would be OnDemand worklog comment also if I enter something manually when logging time.

Jira worklog shows
    2 hours
    <No comment>

Harvest shows note as link and that is the correct behavior?

It would be nice to have note as Jira worklog comment also.

You can close this or maybe set as feature request so that

[2015-08-03 14:28] gabrielsomoza commented on #52
The code-bases from the OnDemand plugin and the Download plugin are slightly different, so its very possible that this feature is actually missing for OnDemand.

We'll queue it: when you enter a note in the Tracker inside JIRA, the Worklog should also have that note as a comment.

[2015-08-03 14:41] gabrielsomoza commented on #50
I understand what you mean, I'll take a look. Just to be clear, by "JIRA's Date Started field" do you mean
A) Worklog's "Date Started" field, or
B) the Issue's?

[2015-08-03 17:23] kuya1284 commented on #50
Yes, I'm referring to the Worklog's Date Started field. Thanks.

[2015-08-10 15:24] kellaferr24 commented on #50
I have the same issue. How has this not been addressed?

[2015-08-10 15:26] kellaferr24 commented on #38
this really needs to be addressed. How can you have integration with a time tracking tool that doesn't track directly to JIRA time tracking as well?! This is horrible for agile development and sprint planning

[2015-08-10 15:30] gabrielsomoza commented on #50
We're working on a fix for this ticket and a most of the other ones as well as part of a big re-design of the extension. We expect it to be ready Q4 this year.

We'll release back-port fixes for issues like this one as soon as we have them ready - we'll notify you via email and also via this ticket.

[2015-08-10 16:37] gabrielsomoza commented on #38
Our tool does track directly into JIRA. Just not through the Agile view, and there are technical reasons why this was (and still is) a delicate and difficult task, including the fact that JIRA Agile is not really engineered to be easily extensible.

However we recently released a version that allows you to track time on tickets by clicking a button in the Agile view. Its as far as we can go right

[2015-08-10 16:37] #38 closed

[2015-09-01 15:19] ednoles opened #53 "Cannot connect to Harvest"
We've updated the SSL certificate, confirmed that we're on the latest version of the plugin, ran the debug console and are still getting the following error:

![screen shot 2015-09-01 at 9 45 16 am](https://cloud.githubusercontent.com/assets/14075772/9607568/7bb3c6a2-508f-11e5-9fa8-fed4d4ced4dc.png)

[2015-09-01 15:45] gabrielsomoza commented on #53
Sorry to know about your issue. A few other people have been having similar issues but they're hard to reproduce and unfortunately we don't always get enough log information (e.g. company policies, etc).

Any chance you could send us info from the debug console, JIRA logs and if possible the Network tab from your browser's devtools to support (at) strategery (dot) io ? The more information the bet

[2015-09-01 19:34] ednoles commented on #53
@gabrielsomoza is there a way I can send you files and add others to this ticket?

[2015-09-01 21:08] ednoles commented on #53
Sending documentation to the Strategery Support email above.

[2015-09-16 09:27] gabrielsomoza commented on #47
@FredericMartinez any chance you could help us answer that? We'd like to fix that for you before the next billing cycle.

[2015-09-18 11:34] gabrielsomoza opened #54 "Kanban Error"
From a client's error log file:

[code]

[2015-09-18 11:42] Fjodor42 commented on #54
I reported this - thank you for acting so very swiftly.

Feel free to get in touch if you need anything further.

[2015-09-18 11:42] gabrielsomoza commented on #54
Will do, thanks for the report!

[2015-09-22 11:28] sam-base opened #55 "Cannot connect to Harvest 'ERROR' message - Cloud Edition"
The plugin has stopped working today. We have tried to 'disable / enable', and 'unsubscribe / subscribe', but this has not fixed the issue.

Jira Billing still shows this as current subscription. Please advise on how this can be resolved.

![screenshot 2015-09-22 12 18 31](https://cloud.githubusercontent.com/assets/14753941/10017206/52575634-6124-11e5-811c-4907aabc90b9.png)
![screenshot 2015-09-22

[2015-09-22 13:20] gabrielsomoza commented on #55
Server was down - restored. Thanks for reporting!

[2015-09-22 13:20] #55 closed

[2015-09-22 13:57] sam-base commented on #55
Thanks Gabriel

Sam Westlake / Project Director / Base
Tel: +44(0)1202 766 666

wearebase.com <http://www.wearebase.com/> / Home of ODL Bournemouth
<http://odl.wearebase.com/>, the world's largest free Device Lab and
redevelop.io, a one-day developer conference on the coast.

We Are Base Ltd is a registered company in England and Wales, Number
6663791 | VAT Number: 936 117 917 | More information a

[2015-10-01 17:19] estan1 opened #56 "Jira Cloud. Harvest Plugin is not responding. Please help"
Hey,

We are at Jira Cloud and use the Harvest plugin extensively.
It stopped working in the last hours though. It says that it does not respond. See the image attached below:
![harvest](https://cloud.githubusercontent.com/assets/1336015/10228011/5d0175a4-6879-11e5-9639-0ac03dcc8345.png)

I tried disable and re-enable it but it did not help.

Can you help please? Is this something with your server

[2015-10-01 19:31] estan1 commented on #56
Some hours later seems to be ok. Very odd. Is this a server issue?

Please check anyway.

[2015-10-01 19:47] estan1 commented on #56
Hmmm, it does not work again. Still server issues or something else?

[2015-10-02 06:55] estan1 opened #57 "Jira Cloud. Correct Harvest Project does not always appear in timesheets"
Jira Cloud

Steps to reproduce:
1. Choose a project in Jira using the plugin button, then fill the rest and submit.
2. Look at the Harvest Timesheets, the project chosen is sometimes different than the one selected while using the plugin in Jira.

We have many projects in Jira and same in Harvest.

Can you help?

[2015-10-02 11:19] gabrielsomoza commented on #57
@estan1 one of our servers is having issues again, we'll keep you updated here.

[2015-10-02 11:21] gabrielsomoza commented on #56
Hi @estan1 - yes, we're having server issues. Looks related to SSL but we're trying to narrow it down.

[2015-10-02 11:27] longwave commented on #56
Also seeing this, there is an SSL internal error:

[code]

[2015-10-02 11:44] gabrielsomoza commented on #56
We put the server that's failing offline and are debugging it to see what happened. Meanwhile a new one is replacing it temporarily. We'll keep you updated if we find the issue.

[2015-10-03 07:24] gabrielsomoza commented on #56
The issue was a DNS replication problem when we moved our domain to the CloudFlare nameservers. The process should have been completely transparent because DNS records were configured properly in both the old and new nameservers, but for some reason during the propagation period the MediaTemple nameservers started to resolve "usestrategery.com" and a few of its sub-domains to the wrong IP address.

[2015-10-03 07:24] #56 closed

[2015-10-06 12:27] damian-pastorini commented on #57
I wasn't able to replicate the issue, every time I choosed a project and started the timer that's what I see in the timesheet.
What I did noted is that when you click on the start button in a new ticket, the project selected by Harvest is a default one (like the first on the list or sometimes the last one used) and not the one you are in JIRA.

[2015-10-07 22:58] benow opened #58 "JIRA v7 support"
Any timeline when the plugin will be compatible with JIRA 7?

[2015-10-08 08:25] gabrielsomoza commented on #58
Current roadmap:
* Release timeout fixes for several clients. That will happen today or tomorrow at the latest.
* Compatibility with JIRA 7.
* Rest of the roadmap as described by milestones and tickets.

[2015-10-08 14:45] gabrielsomoza commented on #58
Quick update: there are several UI changes to JIRA 7 that make our plugin incompatible. We'll determine what's causing that and provide an ETA as soon as possible.

Meanwhile, we'll release milestone 2.5.3 anyways.

[2015-10-12 08:55] gabrielsomoza commented on #53
@ednoles we just released a new version of the plugin that has several stability improvements and bug-fixes. Could you update and check again to see if the issue was fixed?

[2015-10-12 08:56] gabrielsomoza commented on #36
Just release a new version of the plugin that has several stability improvements and bug-fixes. Please update to the latest version to see if the timeouts are still happening. Will close this ticket until we hear back from users that were having this issue.

[2015-10-12 08:56] #36 closed

[2015-10-12 08:56] #53 closed

[2015-10-12 09:23] gabrielsomoza commented on #54
@Fjodor42 we released a new version that has a possible fix for this issue. Could you update and confirm if its fixed? We'll close the ticket for now but re-open if the issue still exists.

[2015-10-12 09:23] #54 closed

[2015-10-15 08:12] Fjodor42 commented on #54
Looks good so fare here - thank you!

[2015-10-15 09:45] gabrielsomoza commented on #54
Great, thanks for confirming!

[2015-10-29 15:37] vitorfragoso commented on #51
+1! In the project that I'm working right now, we are using harvest and jira and we have the same "problem" related here. This feature would be awesome.

[2015-10-29 15:39] joannou commented on #51
+1

[2015-10-29 16:25] gabrielsomoza commented on #51
Great to see more people are behind this idea, we'll push it up the priority list. Right now we're working on releasing the plugin for JIRA 7, then we'll shift focus back to new features.

[2015-10-30 04:16] banar commented on #58
Can't wait to get an update for JIRA 7

[2015-10-30 08:34] gabrielsomoza commented on #58
Dev team says things are looking good (despite a lack of good documentation). Looks like we'll be testing the JIRA 7 version within the next few days.

[2015-11-11 21:47] andrewmallis opened #59 "broken images on wiki"
https://github.com/Strategery-Inc/jira-harvest-time-tracker/wiki

[2015-11-11 21:55] andrewmallis opened #60 "plugin fails to connect to Harvest"
This is sudden.
![_eecs-6__set_up_pantheon_environment_-_jira](https://cloud.githubusercontent.com/assets/249362/11104140/b643cfd2-887b-11e5-8931-7ba02a360644.png)

Tried disabling/re-enabling and unsubscribing+uninstalling+resubscribing but no luck

[2015-11-11 22:19] gabrielsomoza commented on #60
For the "host" part try entering only the first part (the one that's blurred out). Let me know if that helps. We're going to make that easier in upcoming versions.

[2015-11-11 22:22] gabrielsomoza commented on #59
Thanks for reporting, fixed.

[2015-11-11 22:22] #59 closed

[2015-11-12 20:01] kvarga commented on #58
Any update here? Need to upgrade JIRA this weekend and this is 1 of the 2 plugins we are concerned about

[2015-11-12 20:28] gabrielsomoza commented on #58
Yes, got delayed on some issues but we might be able to release before the weekend. Will update this ticket when ready.

[2015-11-13 08:16] gabrielsomoza commented on #58
Version 3 released with JIRA 7 support! Please update and let us know of any issues! Will close this ticket and we'll address any new issues on separate tickets.

[2015-11-13 08:16] #58 closed

[2015-11-18 00:10] fuhrmans commented on #49
Hi Gabriel,

Great app, thank you.  We just purchased our license after the evaluation.  I am seeing an issue with my Jira-Harvest Version 2.5.3 add-on where the Start Timer button is not changing to "Submit" when time is being entered in manually.

See Screenshot
![2015-11-17_16-37-27](https://cloud.githubusercontent.com/assets/15899096/11228791/8f78ad52-8d4c-11e5-91f1-70828d20ae90.png)

What add

[2015-11-18 04:44] andrewmallis commented on #60
Did not work. Things worked previously with that host pattern.

Harvest has a new single sign on service, Harvest ID, to facilitate access across both Harvest and Forecast.

It is not super obvious that you need to convert and sign up for this service or everything breaks.

Harvest sent out an email with the subject line
*Harvest ID is here! New Password Required*

the login link for Harvest now g

[2015-11-18 04:45] andrewmallis commented on #60
so, creating a new SSO ID with Harvest does let Jira log in again.

[2015-11-18 13:46] gabrielsomoza commented on #60
Thanks for the information Andrew!

The Harvest's API that we consume didn't change - including the authentication mechanism that we use - so as long as we can continue to send authentication information through that API our plugin should keep on working.

With that in mind, this looks like an account issue on Harvest's side - rather than on our extension. And it sounds like their migration to a c

[2015-11-18 13:46] #60 closed

[2015-11-26 13:45] gsomoza opened #61 "[Cloud] Users have to login multiple times a day"
Right now sessions are very short-lived and users report that they have to re-enter their Harvest credentials every day. This seems to happen on both Cloud and Download versions, so it could be related to the Harvest API..

What can we do to improve this using the current code-base?

[2016-01-06 08:59] DenHeadless commented on #24
Guys, what's progress on this? Having troubles with this as well.

[2016-01-06 13:11] gabrielsomoza commented on #24
@DenHeadless we're working on it, this and a few others are scheduled for the next release. Will send an update as soon as we have it.

[2016-01-19 19:44] andrewmallis opened #62 "Plug in fails when your website goes down"
Your websites are down: https://harvest-jira.usestrategery.com &  https://harvest-jira.usestrategery.com which causes the plug in to fail.

Is there any way to handle this error more gracefully?

[2016-01-19 21:06] estan1 opened #63 "Servers down again. Plugin does not load for Jira Cloud"
Hey guys,

We are with Jira Cloud. The plugin is down for more than 10 hours already.
It does not load at all. As a result all our teams can not log time. This started to happen too often.

Can you guys please fix asap? What is the estimated time for fixing this?
Any long term solution here?

Your official site/link for support is also down: https://usestrategery.com/
Where do you send support req

[2016-01-20 05:48] centerlinescores commented on #62
Also, any idea when the site will actually be up?

[2016-01-20 08:46] gabrielsomoza commented on #62
Its up now, and we'll restart the web-server every hour until we find why its randomly freezing up, because its obviously a recurring problem.

We're also considering moving the plugin to a separate server, but this isn't a straightforward decision because we're not making enough money with it to justify a dedicated server (at least not at the same pricing tier as the current one) or a more robust

[2016-01-20 14:09] gabrielsomoza commented on #63
More info on #62 (will keep that open), hopefully that will make sure it doesn't go down again anytime soon while we work on finding the issue or moving to a new server. Right now it looks like the latter will be the more likely solution.

[2016-01-20 14:09] #63 closed

[2016-01-25 09:48] chris5287 commented on #51
+1 any update available on this task?

[2016-01-25 09:48] chris5287 commented on #44
+1 any update available on this task?

[2016-01-25 09:50] chris5287 opened #64 "Use Jira project code to pre-select correct Harvest project"
We use the same project codes for Jira and Harvest, so it would be great if the Jira plugin automatically selected the matching Harvest project when adding time.

[2016-01-25 09:54] gabrielsomoza commented on #62
We moved to new servers that have auto-scaling capabilities. We'll monitor them for a few weeks to make sure what we have can cover the average demand. If you have any issues please let us know through this ticket and we'll re-open it if necessary.

[2016-01-25 09:54] #62 closed

[2016-01-25 09:56] gabrielsomoza commented on #47
We're closing this due to inactivity - recent releases and the move to new servers for the on-demand version should have fixed it. We'll re-open if new reports come in.

[2016-01-25 09:56] #47 closed

[2016-02-16 18:17] marks commented on #64
+1 yes please!

[2016-02-17 03:54] zamoose opened #65 "Plugin won't finalize connecting"
I've experienced this on three separate Macs using Chrome (regular and Incognito) and Safari, using Mavericks and El Capitan. Symptoms are:

1. Able to click the "Track Time" button at which point I am
2. Presented with a log-in modal.
3. I enter the details for our Harvest install and my username and password and submit.
4. I see the progress bar and am then re-presented with the login modal.

I

[2016-02-17 03:58] zamoose commented on #65
Looks like this may be related (obliquely or *explicitly*) to #24.

[2016-02-18 09:58] gsomoza commented on #24
Hi everyone. We think we found the problem - could you try [doing this](http://clubrunner.helpserve.com/Knowledgebase/Article/View/710/277/enable-third-party-cookies-for-safari) and let us know if that fixes it for you?

We'll look into adding some kind of workaround so that users don't have to do it manually in the future.

[2016-02-18 09:59] gsomoza commented on #65
I just commented a possible workaround on that ticket - could you see if that fixes it for you?

[2016-02-18 10:44] DenHeadless commented on #24
@gsomoza Hey!
This definitely fixes login issue - i was able to successfully log in, and see my projects, however it does not seem like tracking creates anything on harvest. And when i try to stop logging, here's error i see:

http://d.pr/i/1ehF3

Safari 9.0.3
OS X 10.11.3

[2016-02-22 13:58] gsomoza commented on #24
@DenHeadless could you confirm if more than one user in your account is experiencing that issue? We're investigating further.

[2016-02-23 03:58] andrewmallis commented on #64
+1000

[2016-02-23 04:19] andrewmallis commented on #44
Our team quotes time and time again the session funk in #16 as the annoying part of our entire organizational workflow.

Please act more quickly on this, or provide some updates.

This issue is not very [I-N-V-E-S-T](https://en.wikipedia.org/wiki/INVEST_(mnemonic)) and I fear it will never get done.

I imagine the plug in is not a huge revenue driver, but but it is a paid plug in. I can't pretend

[2016-03-01 12:06] #49 closed

[2016-03-01 12:06] #50 closed

[2016-03-01 12:06] #37 closed

[2016-03-08 21:56] rryke opened #66 "Time out when click on "Start Tracking""
java.lang.Exception: Error requesting https://myurl.harvestapp.com/daily/add. Response code is: 502
	at com.strategery.plugins.harvest.util.HttpClient.request(HttpClient.java:81)
	at com.strategery.plugins.harvest.util.HttpClient.post(HttpClient.java:110)
	at com.strategery.plugins.harvest.api.Request.post(Request.java:65)
	at com.strategery.plugins.harvest.api.Harvest.addDayEntry(Harvest.java:132

[2016-03-09 12:37] gsomoza commented on #66
Thanks for reporting this. We'll get in touch with Harvest since this is an error on their end (one of many). Meanwhile if you could send us your harvest account name (or url) that would be useful so we can tell the people at Harvest which account's logs to look at. You can email that info to contact (at) strategery (dot) io.

[2016-03-09 14:46] rryke commented on #66
It's a bad url: If you go  to the url in a browser it 502's

[2016-03-11 00:27] rryke commented on #66
any traction here?

[2016-03-11 13:36] gsomoza commented on #66
We're waiting on Harvest to respond. I'll add an update here when we hear back from them, it could take a while..

[2016-03-11 15:14] rryke commented on #66
It looks like the url is wrong? Can't we try a working url?

On Fri, Mar 11, 2016 at 5:36 AM Gabriel Somoza <notifications@github.com>
wrote:

--
Ryan Ryke

Cloud Life Consulting
424.286.4861
itsacloudlife.com

[2016-03-11 15:35] gsomoza commented on #66
It's not really a wrong URL: its a URL that needs to be used with special authorization headers, etc - because its from the Harvest API. So accessing it with the browser won't work, but that's normal.

Here's the documentation about that URL in the API: https://github.com/harvesthq/api/blob/master/Sections/Time%20Tracking.md#creating-an-entry

[2016-03-11 21:39] gsomoza commented on #66
Here's what they said:

Could you confirm if this is still happening with you?

[2016-03-11 21:46] rryke commented on #66
Yes it works...

Wasn't working yesterday.

Thank you

On Fri, Mar 11, 2016 at 1:39 PM Gabriel Somoza <notifications@github.com>
wrote:

--
Ryan Ryke

Cloud Life Consulting
424.286.4861
itsacloudlife.com

[2016-03-11 22:10] gsomoza commented on #66
Glad to hear that, sorry you had to wait so long..

[2016-03-11 22:10] #66 closed

[2016-03-18 07:26] chris5287 commented on #64
Any updates on when this feature may be implemented?

[2016-03-18 07:28] chris5287 commented on #44
Any updates on when this feature may be implemented?

[2016-03-18 12:33] gsomoza commented on #44
Not much progress yet, at least not on the positive sense. I've been asking for quotes from different developers (since I can't get to this myself) and the cheapest I got so far is $15k, because general consensus is that we should re-write the plugin from scratch - and I agree with that too.

We're currently hardly breaking even with maintenance on the plugin vs sales, so saving money for that pro

[2016-03-18 12:36] gsomoza commented on #64
I'm trying to strike a balance between new features and saving money for rebuilding the plugin from scratch (see #44). This one should be a relatively safe addition so we might be able to get to it within the next two/three months - maybe sooner.

[2016-03-18 12:37] gsomoza commented on #65
Discussion about this has move to the referenced ticket.

[2016-03-18 12:37] #65 closed

[2016-03-18 12:37] gsomoza commented on #27
Closing due to inactivity

[2016-03-18 12:37] #27 closed

[2016-03-18 12:39] #57 closed

[2016-03-18 16:27] chris5287 commented on #44
Thanks for the update. Any chance of adding the source code here to GitHub so other dev's could contribute?

[2016-03-18 18:26] gsomoza commented on #44
If you're interested in doing this I'm sure we can arrange something, you can email me at contact (at) strategery (dot) io

[2016-04-01 15:25] estan1 opened #67 "Harvest Time Logging in Closed Jira tasks with no time logging allowed. Needs a fix!"
Steps to Reproduce:
1. Close a Jira task and ensure jira.issue.editable = false in the workflow - closed step properties. This prevents the task from editing and
2. Log time via the plugin and it shows nice error:
Error: You can not edit the issue as it is in a non-editable workflow state.
3. Time is not logged in Jira and this is great - works as expected. However see below

Expected Result
Time

[2016-04-01 15:27] estan1 commented on #67
We are with Jira Cloud

[2016-04-01 15:36] estan1 opened #68 "Time Logging Notes do not log in Jira"
Jira Cloud

Steps to Reproduce
1. Go to an issue and click the Track Time plugin button
2. Notes (optional) field. Do not touch the default text that shows up. Hit Enter 2 times and then add some extra billable comments & notes.
3. Fill the other details and click Start Tracking
4. Go to the Jira issue Work Log tab and see the worklog in Jira that was just created

Expected Result
The worklog entr

[2016-04-01 15:59] estan1 commented on #68
Seems this is similar to this one:
https://github.com/Strategery-Inc/jira-harvest-time-tracker/issues/52

[2016-04-01 17:54] gsomoza commented on #67
Good catch, thanks for reporting.

[2016-04-01 17:55] gsomoza commented on #68
Its indeed that one, so I'll close this one. It will still be referenced by the other one so we can come back to this for the steps to reproduce.

We'll try to get both of the tickets you reported today closed by ends of May at the latest.

[2016-04-04 13:13] tott commented on #51
Hi there, we really need this as well for our cloud hosted version. Is there any chance to get an update on this task?

[2016-04-04 16:58] gsomoza commented on #51
No updates yet, we're trying to sort some of the other urgent issues so this isn't scheduled yet.

[2016-04-06 14:56] tott opened #69 "Add time tracking to issue details views"
It would be really helpful to make the time tracking available in the Details view. In this case when you're working through a task list or on a sprint board you would not need to navigate to each individual task to track your time. This would improve the workflow a lot.

[2016-04-06 14:56] tott commented on #61
Is there any updated on when this will be available in the cloud version?

[2016-04-06 15:08] gsomoza commented on #61
Is this happening to you on a cloud install? We didn't have this issue on cloud ourselves so it wasn't in the roadmap for that version of the plugin until now.

[2016-04-06 15:12] gsomoza commented on #69
Unfortunately that's currently not possible on the cloud version as far as we know. Mentioning this because on another ticket you seemed to suggest your running on Cloud. Could you confirm if that's not the case?

For the "Download" version of the plugin this is already working.

[2016-04-06 18:47] tott commented on #61
Yes, this is related to a cloud install

[2016-04-06 18:49] tott commented on #69
Correct, this is for the cloud version. Is there any time-frame when this feature might come to the cloud version?

[2016-04-06 20:40] gsomoza commented on #69
No, there's not time-frame because I don't think its even possible for the Cloud version. But I'll take another look at the cloud API / capabilities to make sure.

[2016-04-06 20:42] gsomoza commented on #61
Alright, we'll try to debug that as well then.

If you're using Safari, could you take a look at #24, apply the same workaround suggested there, and then see if the issue persists? Let me know if it gets fixed cause that would confirm the source of the issue in the case of the Cloud platform.

[2016-04-06 23:08] tott commented on #69
Thanks a lot for checking. I really appreciate the support.

[2016-04-06 23:13] tott commented on #61
I'm actually using Chrome. Does it still make sense to try this with Safari? Can you point me to some things I could look at to provide more information to help you isolate this issue. Which is the Cookie i should look at that would control this behavior.

[2016-04-07 12:45] gsomoza commented on #61
As far as we know 24 only applies to Safari. So if you're using Chrome but still experiencing this issue then its probably not the same thing. The cookie name should just be "session" - do you see it on your end?

[2016-04-07 12:50] tott commented on #61
The session cookie actually looks quite ok but there is one more which seems to hold the account data and has an expiration which is very close - https://www.evernote.com/l/AAkd7T22AUNBUa3eXGWPiC1JtZ1eP8e5YR4B/image.png

[2016-04-07 13:33] gsomoza commented on #61
Alright, thanks for this info. The expiration date is July 6th from what I see, so I'm not sure that's the problem.. especially if this is something that happens to you as often as every day.. I'll have a developer take a look at this anyways just in case.

It will take a while for us to get this fixed though, based on our current roadmap. Unless we have other people reporting the same issue on Cl

[2016-04-07 13:46] tott commented on #61
Thanks for checking. Really appreciate your help. And yes, it happens multiple times per day even when not restarting the browser.

[2016-04-09 14:38] chrisschaub opened #70 "Update existing issue time"
When you stop a timer and then restart it, a new timer entry is created in Harvest. Our users switch between tasks quite frequently, stop/start time. They will have a lot of entries in Harvest for each Jira Issue due to starting and stopping. Would there be a way to update the existing Harvest time entry if on the same day?

[2016-04-11 08:16] gsomoza commented on #70
Unfortunately this isn't everyone's work-flow, some companies require high detail information on exactly when work started and stopped for each task, even if the task was worked on at multiple times during the same day. In situations like these I'm afraid we have to stick to the needs of those who need the most amount of data..

Closing the ticket for now, but we can continue the discussion regard

[2016-04-11 08:16] #70 closed

[2016-04-11 11:04] chrisschaub commented on #70
Right, but that isn't everyone's workflow either. I'd say it's 50/50 maybe. How about an option to "append" to existing timer or "create new" timer? That way it would be configurable?

[2016-04-11 12:13] gsomoza commented on #70
Even if its 50/50 we still have to stick to whichever workflow needs the highest amount of details/data - which in this case is the one that needs to track the start/stop times of each time the task is worked on. So you're right: the only way forward would be to add a feature like the one you mentioned.

But appending to an existing timer would be a very complicated feature to add for the followin

[2016-05-02 18:09] mattvandam commented on #64
We would like to see this feature added also.  Any updates on time frames now?

[2016-05-24 21:19] adamf321 commented on #61
Any update on this? I have the same problem, also in Chrome. I have to log in almost every time I start or stop the timer.

[2016-07-01 18:50] adamedgerton opened #71 "Support for decimal-based entry (and single-digit entry)"
Right now the plugin only seems to support time entered in "1:00" format. Harvest allows for entry of just "1" or "1.00" which converts to the primary format. It would be great to support that same functionality in the plugin, as it confuses many of our users who are used to using decimals.

[2016-07-13 19:11] adamedgerton commented on #51
+1 to this being an important feature for our team

[2016-08-12 22:57] mattvandam commented on #52
Is this working on OnDemand (Jira Cloud) now?  Our instance still doesn't log the note to the Jira Worklog.

[2016-08-16 13:04] gsomoza commented on #52
No, this is not on the OnDemand version yet: notes are not added to the worklog entry as a comment.

[2016-08-16 16:04] mattvandam commented on #52
Is this on your roadmap for the OnDemand version?  We are highly interested in seeing this feature in Jira.

From: Gabriel Somoza [mailto:notifications@github.com]
Sent: Tuesday, August 16, 2016 7:04 AM
To: Strategery-Inc/jira-harvest-time-tracker <jira-harvest-time-tracker@noreply.github.com>
Cc: Matt VanDam <m.vandam@ntta.com>; Comment <comment@noreply.github.com>
Subject: Re: [Strategery-Inc/ji

[2016-08-16 16:16] gsomoza commented on #52
Yes, it is in the roadmap but development has crawled down to a halt due to high development costs.

What we have in the roadmap is a re-write of the entire plugin in order to address several issues and add a few much-wanted features, but the cost of that is astronomical compared to what we make in licenses.

So we're considering open-sourcing the code, and talking with companies like yours to see

[2016-08-16 17:23] mattvandam commented on #52
If you are considering to make this project open source, we would have interest in being a contributor.  We have Engineers with XML and PHP experience and would be interested in helping resolve the current issues we are having with this Jira add-on, when we have free cycles.

From: Gabriel Somoza [mailto:notifications@github.com]
Sent: Tuesday, August 16, 2016 10:16 AM
To: Strategery-Inc/jira-harv

[2016-08-16 18:21] gsomoza commented on #52
Ok, we're thinking how best to do this. I'll get back to you when we're ready - it might take a while as we consider the interests of the rest of the people using this plugin, especially related to the safety of their data once the code is made public..

[2016-08-17 12:46] gsomoza opened #72 "Want to Contribute / Improve this Plugin?"
Due to the cost of adding new features to this plugin (both for the OnDemand and Download versions) we're considering opening contributions to those interested.

The idea, for the time being, is to open contributions only to select companies/people. This will take us a step closer to fully open-sourcing the code, but without the risks of doing so: we will be able to vet who has access to the code.

[2016-08-17 12:48] gsomoza commented on #52
@mattvandam I just opened this issue: #72 . I think that's what we'll do initially. Could you review, and if interested leave a comment?

[2016-08-17 20:42] mattvandam commented on #72
We would be interested in participating at a contributor to improve this plug-in.  We utilize Jira and Harvest heavily for our team and would like to see improvements in this plug-in.  I will contact you privately with information about our team and experience.

[2016-10-03 15:25] sdishman opened #73 "Plugin can no longer communicate with Harvest"
Starting this morning (I think?) our plugin no longer works.  We are using v2.5.2 as this is the highest version that is compatible with our JIRA version.  Here is a screenshot of the error that all of our users are seeing:

![strategery-jira-harvest-plugin-error](https://cloud.githubusercontent.com/assets/314529/19042910/efaee1a8-895b-11e6-8c70-ff8d1d6e8d1c.png)

(Note that I have blanked out the

[2016-10-03 15:31] gsomoza commented on #73
This is a widespread issue that we believe affects most of our users. It started to happen today, an hour or two ago. We still don't know what's causing it, but since nothing major changed our our end I have reached out to Harvest to see if they made any changes to their API.

Meanwhile we'll check to see if there's anything we can do work around it or fix it. We'll post an update here when we hav

[2016-10-03 15:33] sdishman commented on #73
Thanks for the super-fast update.  Sorry if I created a duplicate issue, I did a brief glance and didn't notice anything related to it that was opened today...

[2016-10-03 15:35] gsomoza commented on #73
I believe this is the first report on Github, thanks for doing that!

[2016-10-03 15:36] openlucho commented on #73
We're having the same issue.  Our Jira sever is reporting a bad SSL certificate at harvest.systems.  Is there anyway to work around this?  I opened a ticket with Harvest as well.

Front-End:
Request URL:https://ourjirainstall.com/plugins/servlet/harvest/time
Request Method:POST
Status Code:401 Unauthorized

Back-end:
javax.net.ssl.SSLException: hostname in certificate didn't match:
<ourharvestinst

[2016-10-03 15:37] openlucho commented on #73
harvest.systems doesn't have a valid certificate installed.

Common name: getharvest.com
SANs: coopapp.com, www.coopapp.com, www.iridesco.com, iridesco.com, www.forecastapp.com, forecastapp.com, api.forecastapp.com, www.getharvest.com, id.getharvest.com, getharvest.com

[2016-10-03 15:41] gsomoza commented on #73
Thanks for the info `openlucho`, I'm already in contact with Harvest about this. I do suspect this could be on their end because everything was working just a few hours ago, and we didn't change anything on our end.

Quick question for both: are you using the latest version of the plugin? If you are, it might be worth checking if downgrading to the previous one solves the issue, then we can discar

[2016-10-03 15:46] gsomoza commented on #73
I just issued manually several requests to the Harvest API and they do work. So it's unlikely that's the issue... We'll continue to debug.

[2016-10-03 15:49] openlucho commented on #73
We're on Version:3.0.4.  If a downgrade will require a Jira restart, I wouldn't be able to test until after 7pm central.

[2016-10-03 16:04] sdishman commented on #73
We are using v2.5.2.

[2016-10-03 16:06] gsomoza commented on #73
Ah, thanks for that @sdishman - that discards the possibility of recent changes on our end causing this..

That means we'll have to wait for Harvest's response regarding any changes on their end..

Once again, apologies to everyone for the inconvenience..

[2016-10-03 16:14] gsomoza commented on #73
I can confirm the following error (also reported by @openlucho) is what's causing the issue:

[code]

Looks like this is a problem on the SSL certificate from Harvest. I've sent them this information to see if they can resolve this ASAP. Stay tuned.

[2016-10-03 18:31] openlucho commented on #73
This just started working for us again.

[2016-10-03 18:45] gsomoza commented on #73
Yes, for us too. Harvest just confirmed they fixed the issue on their end! Closing this ticket.

[2016-10-03 18:45] #73 closed

[2016-10-14 06:47] hankthetank opened #74 "Start time tracking from Scrum / Kanban boards in Download version"
We are using the download version of the plugin and have also switched to using the boards feature in latest JIRA. The problem now is that when I want to track time on an issue that I move to the "In progress" silo, I can not start time directly in the boards view. I need to go to the normal issue view first. Also it would be extra cool if you could add a setting that time tracking dialog showed u

[2016-10-24 17:45] gsomoza commented on #74
Unfortunately this isn't currently possible because the API for the Scrum / Kanban boards plugin isn't properly documented and there aren't enough "hooks" we could use to make this easily. It would take A LOT of work, reverse engineering and testing it.

We really want this feature too, so we will re-open this ticket (or a new one) and introduce it once we find a viable way of implementing it. If

[2016-10-24 17:45] #74 closed

[2016-12-08 14:20] RCheesley commented on #12
@sdishman just responding to your situation above. We have an internal project in Jira in which we have issues for things like meetings, communication, support etc.  That way everything can be logged in Jira although it's a faff to have to log time against them because you have to find and open them if we were going to use the harvest/jira integration.

We tend to use Tempo's worklog calendar in J

[2016-12-12 14:37] gsomoza commented on #12
@RCheesley we currently don't push JIRA worklogs to Harvest, because that may work for one team it could break another team's workflow. It seems that for you, rather than using JIRA in the middle, a direct integration between Tempo and Harvest might be a better solution. But I'm not aware of any solutions for that ATM..

[2016-12-14 10:46] gabrielz opened #75 "Add time logs directly, without the timer"
It would be very important for my team to have the ability to not use the "clock", but simply type in the time worked. Editing the time logged when stopping the clock would be enough (but not the ideal UX).
Is this possible in any way?
Thank you.

[2016-12-15 08:22] gsomoza commented on #75
You should be able to input time "after the fact" by just typing the amount of time spent before starting the timer. Then click on the button and the time will be submitted (instead of starting a timer). Is that what you need?

[2016-12-15 08:22] #75 closed

[2016-12-29 22:01] leehylton-bsi opened #76 "Is there a way to save the host URL for Harvest"
My team all logs time to our Harvest site and it would be nice if we could prefill that form for everyone.  As it stands now it seems to depend on the browser cache or you have to fill it out each time to make the connection.

[2016-12-30 09:08] gsomoza commented on #76
There's currently no way of doing it, but we're working on that for our next release - as it's one of the most requested features. I'll update this ticket once it's ready, which if all goes well should be Q1 2017

[2016-12-30 09:09] gsomoza commented on #61
We've finally come around to working on this, and hope to release an improved version during Q1 2017. Thanks for your patience and stay tuned.

[2017-01-02 21:53] leehylton-bsi commented on #76
Thanks, look forward to it!

[2017-01-30 13:30] SeanPTaylor commented on #61
Do you have any visibility on when in Q1 you anticipate releasing the new versions? We are have experienced the same issue, but otherwise are very happy with what you have been able to do. Thanks so much.

[2017-02-15 14:20] olegip opened #77 "Remaining Estimate field"
Hi Gabriel,
It would be great to have Remaining Estimate field on the log time form.
This will encourage developers to verify and update the remaining time on task.

Thanks,
Oleg

[2017-02-15 14:27] olegip commented on #64
Hi,
This feature is critical.
Developers are constantly complain about having to select the project over and over again.
Also in a lot of cases, they just forget to do so and the time is logged incorrectlyt to the first project in the list.

Thanks,
Oleg

[2017-02-15 14:39] gsomoza commented on #77
Good suggestion, but not everyone uses that as far as I know. I'll leave this ticket open in case other people want to upvote it ( 👍  ) but I'm afraid right now it doesn't look like we'll be able to add the feature anytime soon, since we have a few other urgent priorities.

[2017-02-15 14:41] gsomoza commented on #64
UPDATE: we just released a few fixes for bugs that were seriously affecting the workflows of many people. We're still trying to squash a few remaining bugs before we shift gears towards rebuilding from scratch or adding features. Stay tuned, we know this feature would be very useful so it's at the top of our feature priorities.

[2017-06-14 14:28] simpoul opened #78 "Time logged in Harvest but not in JIRA tempo"
There was an update made by JIRA on the "Timesheet" component this morning at 2am and since then the plugin is not working properly. We did a "re-index" of JIRA but it did not worked. Time get logged in Harvest but not in JIRA.
<img width="542" alt="capture d ecran 2017-06-14 a 10 26 17" src="https://user-images.githubusercontent.com/6109021/27137433-f1779ac2-50eb-11e7-8d36-70e14a9c1318.png">
The

[2017-06-19 17:35] gsomoza commented on #78
Thanks for reporting this, we'll take a look as soon as possible. Just to confirm: are you using the "cloud" version of JIRA?

[2017-06-19 18:57] simpoul commented on #78
Yes! And after more investigation, we found that the time gets correctly logged, but like few hours after. There's is a big delay between the time you log time and you can see it in the task.

[2017-06-20 08:33] gsomoza commented on #78
That's indeed really weird. All our plugin does is issue an AJAX call to the JIRA API, through their own library, and that happens *immediately* after the timer is stopped. So if the time does eventually get logged then it would seem that the call succeeds, only that JIRA doesn't update the ticket until after several hours.. Almost as if the update was put on a queue or something for later process

[2017-06-20 13:43] simpoul commented on #78
I think you're right, there might be a kind of queue somewhere that gets processed later... I'll try to get in touch with JIRA. Thank you Gabriel!

[2017-06-20 20:52] gsomoza commented on #78
Sure, no problem - make sure to let me know if it gets resolved so we can close this ticket. And if there's anything else I can do please don't hesitate to ask.

[2017-06-30 08:48] ygcm opened #79 "JIRA load times very slow as soon as logged in to harvest (via plugin)"
we experience very slow response times from jira as soon as a user is logged in to harvest via the plugin.

JIRA version: v7.3.6#73017-sha1:51437cf
Harvest plugin version: 3.1.5

any suggestions?

[2017-07-27 06:43] Funkemedien opened #80 "Harvest Plugin interfering with project issue filter views"
Hi Strategery,

I already posted this issue at the form on your website unfortunately without getting an answer. We installed the Harvest plugin on our Jira 7.2.7 testinstallation in order to test out the plugin. After finishing the testperiod we discovered that projects having e.g. the standard view "open issues" as a startpage that all issues are grayed out (see attached screenshot). Checking th

[2017-07-27 06:47] gsomoza commented on #80
Hi @Funkemedien - I'll have our team look into this and try to duplicate the issue.

Is there any chance we could get access to that test environment so we can debug it there as well?

[2017-07-27 07:19] Funkemedien commented on #80
Hi Gabriel,

thanks a lot for the quick answer. Unfortunenately there is no way to access the testinstallation from outside.

[2017-07-27 11:25] gsomoza commented on #80
Ok, I'll get back to you with anything we find as we try to duplicate this.

[2017-07-27 11:28] Funkemedien commented on #80
Thanks a lot for the effort. Any suggestions ? Interference with other plugins ?

[2017-07-27 11:35] gsomoza commented on #80
I don't think so, right now it seems it's probably a real bug on our end that wasn't reported until now...

[2017-07-27 11:44] Funkemedien commented on #80
A fix is highly appreciated. Thanks a lot in advance.

[2017-07-27 14:23] gsomoza commented on #80
Hi @Funkemedien - in our initial tests everything worked well on that view on a clean JIRA installation (see screenshot)

![open-issues-page](https://user-images.githubusercontent.com/106219/28675091-17477cc8-72e7-11e7-8378-d822357dfe9a.png)

But so far we only tested latest version and also 7.3.7. We're spinning up a 7.2.7 version to test that one specifically. If it works there as well, then it'

[2017-07-28 05:16] Funkemedien commented on #80
According to JRASERVER-63363 I can narrow down the problem to projects using open issues as the first page to be entered selecting the project from all projects list. projects e.g. having a kanban board as intro page do not show this behaviour.

js debug:

batch.js?atlassian.aui.raphael.disabled=true&locale=de-DE:243 DEPRECATED JS - Cookie has been deprecated since 5.8.0 and will be removed in a f

[2017-07-28 08:29] gsomoza commented on #80
This is great info, thanks. We'll review those logs.

Meanwhile, could you confirm if the error still happens when:

1. Our plugin is disabled.
2. "Open Issues" is the first page on a project
3. You follow the steps to reproduce from JRASERVER-63363

[2017-07-28 08:38] Funkemedien commented on #80
@1: The error is gone when I disable the plugin.
@2: Projects with first page "open issues" are effected when the plugin is activated.
@3: Select a project by occasion, Changed to the complete list of projects, choosed a project with "open issue" as startpage

batch.js?atlassian.aui.raphael.disabled=true&locale=de-DE:243 DEPRECATED JS - Cookie has been deprecated since 5.8.0 and will be removed in

[2017-07-31 08:31] gsomoza commented on #80
Thanks for the info. Unfortunately, other than several "deprecated" messages we couldn't find anything relevant in those logs..

Could you provide me with your license ID so I can make sure everything is OK regarding the license in our end? We'

[2017-07-31 08:43] Funkemedien commented on #80
Hi, the trial license is expired. Would it make sense to renew it with a valid trial license ? We received a production license for our production system. I could try to use that one for the testing installation. I'll drop you a line so that we can exchange non public content.

[2017-08-11 09:55] ganeshran opened #81 "Authentication with Harvest - (oAuth)"
Hi,

We are using oAuth google authentication for Harvest. Does the JIRA plugin store the google credentials in plain text to authenticate with Harvest API?

Thanks,
Ganesh

[2017-08-30 21:34] chris5287 commented on #64
Any updates on when this feature may be implemented?

[2017-08-31 07:15] gsomoza commented on #64
We're working on it right now for our Cloud version of the plugin, along several other changes, fixes and improvements.

[2017-08-31 08:20] chris5287 commented on #64
Thanks for the update, is there a timeline/roadmap for the Server version of the plugin?

[2017-08-31 09:14] gsomoza commented on #64
Not currently, but if the cloud plugin is well received then we'll probably shift focus to the server version shortly thereafter. It could still take a while though..

[2017-08-31 09:21] chris5287 commented on #64
Ok, well I would certainly like to see the server version updated (and I don't think I'm the only one 😄!)

[2017-08-31 09:32] gsomoza commented on #64
Good to know, and it's great to hear your feedback by the way: if more people showed interest like that, then we would be able to prioritise better!

[2017-09-25 06:38] niclash79 opened #82 "Links stops working in jira, and jira really slow when installing plugin"
Hi
We have purchased the plugin approx 4 weeks ago now and now we see huge problems with it.
Jira is really slow when plugin is enabled. When plugin is disabled Jira is fast again.
Why is the plugin doing so much when loading every issue? is should not do anything until button is pressed!
We have Jira license for 250 people and 250 user license for the plugin, but we only have 10 people actually u

[2017-09-25 06:45] niclash79 commented on #82
I have 3 attachments that you can have for troubleshooting
For security reasons I don't want to add them here so contact me and i will send them using email.

[2017-09-25 10:05] gsomoza commented on #82
@niclash79: could you please send your attachments and other info to contact (at) strategery (dot) io?

What you mentioned about the number of users in the system is not a bug, it's just how JIRA licensing works in their marketplace. It would be a similar situation for most other plugins in the marketplace.

We'll look into the other issues, namely:
1. Performance on the frontend when the plugin i

[2018-02-08 18:36] sensogna opened #83 "Plugin Does Not Load"
I'm having users complain that the plugin does not load after clicking the Track Time button.  Here is an example of where it hangs:

![image](https://user-images.githubusercontent.com/17982692/35991206-75e6c3b0-0cd4-11e8-8e0b-e486ef3583f7.png)

We are using Jira Server & the latest version of Chrome.

[2018-02-09 08:30] gsomoza commented on #83
A couple of follow up questions that might help us reproduce the issue on our end:

1. What versions of JIRA Server and our plugin are you running?
2. Did this always happen or did it only start happening recently?
3. Could you please [enable debug mode](https://github.com/Strategery-Inc/jira-harvest-time-tracker/wiki/Debug-Mode) on the plugin and email us the logs? If you could also email us the

[2018-02-09 14:27] sensogna commented on #83
Jira > 7.6.1
Pluggin > 3.1.6

Seems to always happen, we just purchased the product about a month ago.  I'll ask my team to bring up the console next time & send over the network trace.

[2018-02-09 14:35] gsomoza commented on #83
We noticed a JS error could cause this and just released a fix. Could you try updating the add-on to version `3.1.7`?  We tested the new version with JIRA 7.6.1 and it worked, so I hope it solves it for you too!

[2018-03-21 00:46] bjornschliebitz opened #84 "project and tasks not loading from Harvest into JIRA"
Neither projects nor tasks are synched from Harvest to JIRA. The "loading..." text does not disappear.

Would really love to get the plug-in working! If you could please let us know how to possibly resolve this.

All the best,
Bjorn

[2018-03-21 08:57] gsomoza commented on #84
Hi Bjorn,

The plugin is working on our test environments, so I'd like to ask a couple of follow-up questions that might help us get a sense of what could be happening.

1. Could you please share which version of JIRA you're using, and whether it's the OnPremise or OnDemand version?
2. Did the plugin work before, and if so: what changed before it stopped working?
3. Could you open your browser's "

[2018-03-31 13:19] gsomoza commented on #84
@bjornschliebitz were you able to progress with this?

[2018-04-06 16:09] jennykinetiq opened #85 "Unable to log into Harvest APP through JIRA Ticket"
A user is unable to input time through JIRA tickets and no one else is experiencing this problem. An error message populates when she tries to log in Harvest through JIRA, " cannot connect to harvest. Please check your credentials and make sure your server can communicate with the harvest servers." I have reset her password and even checked permissions to projects her Harvest account. We can't see

[2018-04-06 16:16] gsomoza commented on #85
Hmm, that's quite weird. A few follow-up questions just to cover the basics:

What browser is she using? Is it different than other people's browser? Does her first or last name, username or email address contain special characters (the plugin should handle those as well, but just in case)? Does she use a different account or email domain as other people or is it the same? Does she usually login t

[2018-04-09 09:16] #84 closed

[2018-04-09 09:17] gsomoza commented on #84
Closing due to inactivity.

[2018-04-18 00:32] bjornschliebitz commented on #84
@gsomoza sorry to have been out of touch. We have moved forward and widened our trial of Harvest and are very likely to use it across our entire team.

What is interesting is that the plug-in works for everyone but me :) which is good in many ways.
Is authentication using Google allowed? That is how I signed up with Harvest in the first place.

I believe that everyone else currently trialling Harv

[2018-04-18 07:29] gsomoza commented on #84
@bjornschliebitz if you're using Google authentication then try this:

1. Login to your account at Harvest.
2. Go to your profile and set (or reset) a password for your account.
3. Use your account email and that password to login with our plugin.

[2018-04-22 08:04] bjornschliebitz commented on #84
Solved in exactly that manner, great to know how to create an account directly with Harvest. Add-on works like a charm now and purchased a 1-year 25 user license. Thank you!

[2018-05-18 14:57] ericaherschorn opened #86 "Weird Display Issues in Latest Cloud Version"
Hi there,
as of today I am not able to log time using the time tracker.  Can you please advise how to login so we're able to track our time?

Steps:
- Click button - track time
- This pop up appears
<img width="812" alt="screen shot 2018-05-18 at 9 51 37 am" src="https://user-images.githubusercontent.com/13858169/40241928-ca29d99e-5a81-11e8-99c1-0210642a4f8b.png">
- There's no where to log in (I a

[2018-05-18 15:05] gsomoza commented on #86
Hi @ericaherschorn - this looks like an issue with the latest version of the plugin that was released today. Did you already upgrade to that latest version?

We weren't able to reproduce your issue in two of our JIRA Cloud environments. Could you please try uninstalling the plugin and re-installing it?

If that doesn't work I would recommend downgrading to the previous version until we're able to

[2018-05-18 15:26] ericaherschorn commented on #86
Hi @gsomoza

Thanks for the quick reply.

We didn't manually upgrade to the latest version, I think it might do it automatically. This is the version we are on:
<img width="1044" alt="screen shot 2018-05-18 at 10 24 41 am" src="https://user-images.githubusercontent.com/13858169/40243390-bebfd8ac-5a85-11e8-97b7-adfd7da6b696.png">

i clicked unsubscribe, and now it is not letting me uninstall bc our

[2018-05-18 15:28] ericaherschorn commented on #86
I also not able to re-subscribe now...

[2018-05-18 15:30] ericaherschorn commented on #86
Could it be due to the old version of JIRA vs. the new version? I've not yet updated (I don't particularly like it).

[2018-05-18 15:34] neris commented on #86
Hi @ericaherschorn,
The error that you can see in the console is not triggered by our add-on.
Looks like you have some strange padding inside the modal window created by JIRA, it prevents you from seeing the 'Log in' button located below the 'Harvest authentication expired' message. Maybe it's somehow related to the old version of UI that you're using (unfortunately, we can't quickly test if it's

[2018-05-18 15:35] neris commented on #86
Also, can you try to disable other JIRA add-ons if you have any?

[2018-05-18 15:51] gsomoza commented on #86
@ericaherschorn basically it does seem like it could be a JIRA compatibility issue. We didn't realize the update would happen "automatically" for customers like you because it's a completely new version of the add-on and the "major" number is new as well (2018... instead of 2014...). Apologies for that automatic upgrade.

The information that @neris requested would be very useful, so if you can he

[2018-05-18 15:57] neris commented on #86
@ericaherschorn,
We've found the problem and indeed it's related to the old JIRA UI. We will fix it as soon as possible.

[2018-05-18 15:59] ericaherschorn commented on #86
Hi all,

Thanks for your attention & focus on this. In the mean time, would you be able to provide the link so we can go back to the old version?

[2018-05-18 16:01] gsomoza commented on #86
@ericaherschorn could you email us at support@strategery.io? We'll send you the link through that channel because the only way to downgrade seems to be to switch to a private listing version of the add-on – we're not even sure if that will work, but it should be worth trying.

FYI if @neris fix works then that should be ready within an hour or two max, if not sooner.

[2018-05-18 16:02] ericaherschorn commented on #86
oh we can totally wait a couple hours- I thought it would be a couple days. We have the other harvest add on implemented right now as our back up.

Pls keep us posted - thanks!
Erica

[2018-05-18 16:50] neris commented on #86
@ericaherschorn, the problem should be fixed now. Can you please try to refresh the JIRA issue page and see if it works now?

[2018-05-18 16:51] ericaherschorn commented on #86
It works! 🎉

Thank you so much for your super speedy fix. It's much appreciated.

Looking fwd to using the new version,
Erica

[2018-05-18 16:53] gsomoza commented on #86
@ericaherschorn so glad to hear that! Thanks for your feedback and I hope you enjoy the new version.

I'll leave this ticket open because other customers also reported layout issues similar to yours. They should also be resolved by this same fix, but I'll close this later once that's confirmed across more customers.

[2018-05-21 11:03] gsomoza commented on #86
Confirmed closed by other customers as well.

[2018-05-21 11:03] #86 closed

[2018-05-22 06:30] JurriaanEUR opened #87 "No upgrade button available"
We are currently on version 20180516.0.1-AC and received an e-mail that we had to upgrade our plugin. There is however no upgrade button available.

[2018-05-23 11:00] gsomoza commented on #87
OK, that means you're already running in the latest version: the plugin was either update automatically or someone else in your company allowed the update.

[2018-05-23 11:00] #87 closed

[2018-06-07 14:35] symbiogenesis commented on #51
+1

[2018-06-07 19:20] gsomoza commented on #51
The latest version of the Cloud plugin should support this feature now. We're working on back-porting it to JIRA Download.

[2018-06-14 08:43] danielfaulknor commented on #46
Any progress on this? It's the only blocker to us purchasing the add-on

[2018-06-14 08:58] gsomoza commented on #46
It's still far down in our backlog, because we just released a new version of the plugin with a complete rewrite.

However, we're still considering whether this feature is worth it's complexity, for the following reasons:
1. Project visibility on a per-user level can already be configured in both Harvest and JIRA. Our plugin honors that configuration: a user will only see the projects they were as

[2018-06-14 09:02] gsomoza commented on #81
No, the plugin using OAuth with Harvest as well.

[2018-06-14 09:02] #81 closed

[2018-06-14 09:03] gsomoza commented on #85
I hope you could solve this issue! If you're using JIRA Cloud, you should have received a brand-new version of the plugin which uses the latest version of the Harvest API, including the OAuth2 integration, which should definitely fix this issue.

Closing due to inactivity.

[2018-06-14 09:03] #85 closed

[2018-06-14 09:03] gsomoza commented on #83
Hope this was fixed! Closing due to inactivity.

[2018-06-14 09:03] #83 closed

[2018-06-14 09:05] gsomoza commented on #78
Closed due to inactivity

[2018-06-14 09:05] #78 closed

[2018-06-14 09:06] gsomoza commented on #76
This feature should be available for a while now. Closing this ticket, but please re-open or file a new one if you see any bugs.

[2018-06-14 09:06] #76 closed

[2018-06-14 11:58] danielfaulknor commented on #46
Probably not enough users for you to consider it worthwhile!

The official Harvest plugin for JIRA remembers per project, so I've migrated to JIRA Cloud and will use that instead. I really appreciate you taking the time to respond

[2018-06-14 12:03] gsomoza commented on #46
We also have a JIRA Cloud version of this same plugin by the way. But it will also try to match the projects by key: it won't really "remember" it if the keys don't match.

I'll keep this ticket open in case other people want to upvote it.

[2018-06-22 17:16] wbrands2 commented on #64
+1 this is very important to us!

[2018-06-22 17:22] wbrands2 opened #88 "Allow User to type Integer or Decimal Values in the Hours Field"
Current format is 0:00, could it be configurable to allow integer or decimal values.

Error message given:

[2018-06-25 11:28] gsomoza commented on #88
Thanks for reporting @wbrands2 . Quick question: which version of JIRA are you using (Cloud / Download)?

[2018-06-25 11:30] gsomoza commented on #64
FYI we've been working already a few week on porting our plugin's brand-new Cloud version to JIRA On-Premise. Stay tuned for the release!

[2018-06-25 21:03] wbrands2 commented on #88
Download

[2018-06-26 08:42] gsomoza commented on #88
Download will receive an update in the next month or two, with this feature included. I'll close the ticket then so you get notified.

[2018-07-02 19:20] b2brpm commented on #46
Our use case for this is as follows:
We launch projects with our clients across different countries and they would like us to separate out the hours by country.
The idea is that a project manager should specify the Harvest project / task at the time the issue is created so that the developer books his time accordingly.
I think we're going to simply do this as a text field for now, but thought I wo

[2018-07-03 07:47] gsomoza commented on #46
Thanks for sharing your use-case, we'll keep it into consideration as well, and I'm glad you're finding the plugin useful!

[2018-08-07 09:22] albgus opened #89 "Ability to use the plugin when using Google SSO for Harvest"
**Is your feature request related to a problem? Please describe.**
We have some accounts that are setup using Google account Single-Sign On to authenticate with Harvest. At the moment it isn't possible to setup these accounts with the Harvest Jira plugins because it asks for a username and password that doesn't exist when using SSO authentication.

**Describe the solution you'd like**
A proper OAu

[2018-08-29 08:01] gsomoza commented on #89
@albgus you'll have to access the accounts via Harvest to set a password for them. Once you did that, you should be able to login using the email address and that password.

Closing because this is not a bug in the extension, but feel free to ask follow up questions if necessary.

[2018-08-29 08:01] #89 closed, assigned to nobody

[2018-11-13 14:52] wbrands2 opened #90 "New Plugin Version – Upgrade Plan for Existing Customers"
Do I need to repurchase this in order to get new features?!

https://marketplace.atlassian.com/apps/1219223/harvester-real-time-tracking?hosting=server&tab=overview

[2018-11-14 07:41] nilesh-spinx commented on #64
Hello There,

This is very important us and it is increasing our daily task to monitor tasks are logged on correct projects.

Any ETA, by when this issue will be fixed? many time it happens that hours logs to the wrong project.

Will appreciate your solution

[2018-11-14 11:09] gsomoza commented on #90
Cloud users (who are paying a recurring subscription) won't have to re-purchase because we're planning to back-port any new features and bug fixes. We'll send out an email with more details and a roadmap before the end of the year.

On-Premise users should be able to continue using the version they paid for until their license expires. At that point we would recommend them to consider switching to

[2018-11-16 10:16] gsomoza commented on #64
@nilesh-spinx @wbrands2  we released [a new plugin](https://marketplace.atlassian.com/apps/1219223/harvester-real-time-tracking?hosting=cloud&tab=overview) that does implement this functionality. For Cloud users we also released a new version with the complete rewrite as well, so it should be working there as well. If it's not, please let us know.

If you're already a customer please make sure to

[2018-11-16 10:16] #64 closed

[2019-01-07 12:33] summin opened #91 "WorkLog is not updated in JIRA if timer stopped from outside the issue."
Dear Strategery Inc

After one of the updates of the jira-harvest-time-tracker we have noticed that the following problem occurs. If we start using timer in one of the issues, it is working spotlessly and when we press Stop And Log, it stops and logs the time in jira. However, if the timer is running on one of the issues and then we start the timer in another issue, the timer on the original issue

[2019-01-25 18:40] markadrake commented on #88
Hello @gsomoza what is the status of this feature? Also, are there opportunities to work together / collaborate to bring improvements to this product? Should I capture "feature requests" like this as issues?

[2019-01-25 18:44] markadrake commented on #46
This really isn't about giving the resource options to bill to, this is about controlling where your resources put their time to so that time reporting is consistent across the team and accurate per the expectations of the PM/PO. I think this provides a very useful feature set. To apply a default Project and Task at the **project level**, and to further modify that on the **epic level** - PM's can

[2019-01-29 14:22] shernandez-ctrlQS commented on #91
Hi @gsomoza,

It would be cool to know if this is a accepted issue for you and it will be looked into, thanks.

Best regards,
Sergio

[2019-01-31 14:06] gsomoza commented on #91
Hi Aleksandr and Sergio. The plugin only works when time is tracked through the plugin. It's impossible for us to know when a timer is stopped outside of the context of the plugin, because Harvest doesn't provide integration features that would allow that. In other words: this is a known limitation.

I'll close this ticket and add it to the FAQ page in the wiki, but we can still continue the discu

[2019-01-31 14:06] #91 closed, assigned to nobody

[2019-01-31 14:22] shernandez-ctrlQS commented on #91
Hi @gsomoza,
The actual issue is not the connection Harvest -> plug-in, but it is that starting the timer via the plug-in in a second ticket does´t log the time in the first Jira ticket, where the timer was previous started but not stopped manually. So:
1- timer is started in ticket A
2- later the timer is started in ticket B
This results in time has been logged into Harvest for ticket A but not i

[2019-01-31 14:55] gsomoza commented on #91
Oh, I understand now. That's also a limitation with the Harvest API: we can't reliably determine where the current timer is running. So if you switch to a different JIRA ticket without stopping the timer, on the new page there's no way for us to know if a timer is running elsewhere.

We could fix it by using cookies or local storage to indicate the last time entry with a running timer. But that wo

[2019-02-01 13:33] shernandez-ctrlQS commented on #91
Thanks, @gsomoza, this answer makes sense now :-)

[2019-02-22 08:47] gsomoza commented on #88
@markadrake could you email me on gabriel (at) strategery (dot) io to discuss collaboration?

[2019-02-22 08:49] gsomoza commented on #88
This feature should be working on the new version of the Download plugin (Harvester Time-Tracker).

[2019-02-22 08:49] #88 closed

[2019-02-22 14:02] carrchr opened #92 "Invalid Authorization Request bad_request"
**Describe the bug**
Sign Into Harvest from JIRA issue fails with **Invalid Authorization Request** bad_request

**To Reproduce**
Steps to reproduce the behavior:
1. Download & Install Add-on
2. Configure Add-on with Oauth info created in harvest app.com
3. Click "Sign Into Harvest" button on a JIRA issue
4. New browser window opens up that is apparently trying to login to harvest which then displ

[2019-02-25 08:24] gsomoza commented on #92
Hi Chris, thanks for the detailed report. I'll do what I can to help you ASAP. Could you please email the redacted info (at least the contents for the redirect_uri parameter) to gabriel (at) strategery (dot) io?

[2019-02-25 18:17] carrchr commented on #92
Hello Gabriel- turns out that the authentication from our JIRA to our new Harvest Time Tracking account wasn't working because when I created the OAuth key I was not ad "admin user" on Harvest. We re-created the OAuth credentials and re-configured our JIRA server and now it works.

[2019-02-25 18:17] #92 closed, assigned to nobody

[2019-02-26 12:18] gsomoza commented on #92
Thanks a lot for getting back to us on this: it's good to know about this important "gotcha"!

[2019-04-03 18:40] ianrushton-tl opened #93 "Jira v8 Support?"
I have just gone to upgrade our version of servicedesk from 7.13.1 to 8.0.2 - and on the update check, it said that this plugin is incompatible.  It seems that nothing has really happened on the development of this app since last year - will it support v8 currently or in the future or do we need to source another plugin?

[2019-04-04 10:11] gsomoza commented on #93
@ianrushton-tl could you please confirm which version you're running? You can also email me with the details of your license (SEN): gabriel (at) strategery (dot) io

[2019-04-04 10:23] ianrushton-tl commented on #93
@gsomoza we are currently using JIRA servicedesk (server edition) v3.13.1, which is based on JIRA 7.10.1.  We are using the latest version of your plugin, and we are wishing to upgrade to Servicedesk 4.0.2, which is based upon JIRA 8.0.2.

I will send you out license details directly.

[2019-04-04 11:37] gsomoza commented on #93
Based on your license it looks like you're using the old version of our plugin. I sent you details about the new version and how to transfer the license via email, so I'll close this ticket for now.

[2019-04-04 11:37] #93 closed, assigned to nobody

[2019-05-02 15:58] jbiel opened #94 "Feature request: plugin compatible with JIRA Datacenter"
We currently are very happy with the JIRA Server version of the Harvester plugin but are considering moving to JIRA Datacenter very soon. Unfortunately, it looks like there isn't a version of the Harvester plugin that's available for JIRA Datacenter. Have you considered releasing a compatible version? Thanks.

[2019-06-10 10:21] ianrushton-tl opened #95 "API issues"
I have just replaced the old plugin with the new one using the supplied upgrade key.

The application installed and works, however we are seeing a lot of errors being reported when trying to log time against tickets; it pops up with "The Harvest API has encountered an error" window

<img width="834" alt="logging time error" src="https://user-images.githubusercontent.com/46815451/59189438-f3d68b80-

[2019-06-10 10:39] gsomoza commented on #95
Thanks for the report, I'll do my best to help!

1. Would you mind reproducing the errors while having your [browser's "Console" open](https://kb.mailster.co/how-can-i-open-the-browsers-console/)? Then please send the output of the console to the following email address: support (at) strategery (dot) io
2. When you log the time normally (first use-case you mentioned), what "task" does it use by de

[2019-06-12 13:55] gsomoza commented on #94
Thanks for the feedback. We'll look into it and get back to you!

[2019-06-21 08:00] gsomoza commented on #95
Hi @ianrushton-tl – we made a new release with changes that might fix the issue. Could you please update to the latest version and see if it helps?

[2019-06-23 19:08] mwoffenden opened #96 "Define the format of what gets logged in Harvest?"
**Describe the solution you'd like**
Is it possible to define the format of what gets logged in Harvest?

For example, we want to log time with the following format in the Harvest time entry:

(issue key) issue summary
i.e.
(CS-101) Customer reports problem X

[2019-07-17 20:29] sgoljerova opened #97 "When 'Start Timer' is running for more than 5-10 mins, Jira typing, navigation slows down significantly"
**Describe the bug**
When 'Start Timer' is running for more than 5-10 mins, Jira typing, navigation slows down significantly

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Jira and click on 'Issue'
2. Click on 'Start Timer'
3. Wait for 5-10 mins
4. Return to the Jira Issue
5. Click on 'Comment' and start typing in a comment.  Notice delay in letters appearing on the screen.
6. stop Ti

[2019-07-23 20:37] sgoljerova commented on #97
Can you confirm the issue?

[2019-07-24 21:22] mwoffenden commented on #97
Don't hold your breath.  Unfortunately this vendor is AWOL.  I submitted an issue a month ago, no response!  I'll likely be un-installing it soon.

[2019-07-29 11:28] gsomoza commented on #96
By default we use square brackets to indicate the ticket number, but users are allowed to edit their comment however they want.

We don't plan on adding an option for custom logging formats right now, but I'll leave the ticket open so other people can up-vote this feature if they find it interesting!

[2019-07-31 14:33] shernandez-ctrlQS opened #98 "App won´t authenticate in Harvest after update to Jira 8"
Hi Strategry team,

We have just updated our Jira to 8.2.4 and the app to 1.0.13-SNAPSHOT, which is meant to be compatible with Jira 8.
The app won´t pass now the authentication step after approving the conneciton to our Harvest instance, I have reviewed the Harvest OAuth configuration (I even created a new one as well) and the App configuration and they look good.
I could not see any similar issu

[2019-08-01 13:21] shernandez-ctrlQS commented on #98
Hi Damian & team,

Attaching here the Console log in case it helps (references to our client´s data is removed).
[support-t.xxx.com-1564665510031.log](https://github.com/Strategery-Inc/jira-harvest-time-tracker/files/3456893/support-t.xxx.com-1564665510031.log)

Happy to give more info or jump into a phone call if needed.
Best,
Sergio

[2019-08-02 08:29] VitaliiTsilnyk commented on #98
Hi Sergio,

In your log file there's an error that I've tracked down to a call to the `AJS.cookie.save()` method. Can you please open the console for that frozen pop-up window and execute `typeof AJS.cookie`?

[2019-08-02 11:23] mfabris-ctrlqs commented on #98
Hello dear Vitalii

The type of AJS.cookie is "undefined"

Here is the complete JS error

################################
[code]

#############################

[2019-08-02 11:49] VitaliiTsilnyk commented on #98
Looks like something interferes with the JS that our plugin requires. Can you try to disable the "In-App & Desktop Notifications for Jira" add-on? Looks like it's trying to load some resources on the page generated by our servlet and fails to do so.

[2019-08-02 11:55] mfabris-ctrlqs commented on #98
Hi Vitalii

We have disabled the "In-App Notifications" plugin and tried with a clean browser.

I log into JIRA
I go click the app button
I am asked to log in into harvest, which I do suffessfully
Then it starts again loading.

This time there is no 404 bad request, but the "TypeError: cannot read property 'save' of undefined" persists.

[code]

###################

What can we do next?

@shernand

[2019-08-02 11:57] mfabris-ctrlqs commented on #98
Forgot to mention: this is the one and only JS error reported in the console.

[2019-08-02 12:00] VitaliiTsilnyk commented on #98
Is the `AJS.cookie` still undefined after the page finishes loading?

[2019-08-02 12:02] mfabris-ctrlqs commented on #98
Yes!

[code]

[2019-08-02 12:10] VitaliiTsilnyk commented on #98
I just released another version, 1.0.15-SNAPSHOT, can you please try it?

[2019-08-02 12:19] mfabris-ctrlqs commented on #98
Thanks Vitalii, you killed it!

The app is now working perfectly.
I did several tests and all looks fine now, actually it is even faster than before.
I also reenabled the app that gave the initial JS error and the Harvester app is working fine even with this other app enabled.

We have the upgrade to live today at 15:00 (in 40 minutes) so the timing couldn't have been better.
Awesome job, thanks a

[2019-08-02 17:50] #98 closed, assigned to nobody

[2019-08-19 09:55] gsomoza commented on #98
Great work guys! Glad this was fixed fast enough for the go-live!

[2019-09-23 07:05] pwittke commented on #97
The latest version 1.0.16-SNAPSHOT (Released 2019-09-18) totally fixed this issue for us. CPU load went from 100% to 0.1% in Chrome.

[2019-09-25 09:23] #97 closed, assigned to nobody

[2019-12-29 06:41] plato1123 opened #99 "Unreliable, some time entries do not ever show up in harvest but do show up in jira"
Hi guys, my company is using your plugin and I've been noticing lately a significant percent of the time (maybe 0.5 or 1%) the time entry gets logged to the jira ticket but never shows up in harvest.

There's not any errors when this happens, jira reports that the time entry was added to harvest but when I view harvest it is nowhere to be found.

Today, dec 28, it happened twice (it's never happen

[2020-01-12 17:37] gsomoza commented on #99
Thanks for reporting this! The challenge we already know about is that the Harvest API often responds with "everything is OK" (200 status code + no error details in response body) when actually something is NOT OK. It's hard to predict when this will happen and it's hard to know exactly what to expect from the response body in order to "catch" it (since we know the HTTP status code they return is

[2020-02-28 15:56] rconcepcion88 opened #100 "Jira's track time goes back to default after changing project"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Click Track Time in Jira

2. Change the second dropdown to something other than the first one
![image](https://user-images.githubusercontent.com/61593145/75563216-993ad380-5a0f-11ea-9b21-3218ba3479a5.png)

3. Change the project to something else
![image](https://user-imag

[2020-02-28 16:26] gsomoza commented on #100
Thanks for the report! We'll take a look asap.

[2020-03-27 13:47] msugjw opened #101 "Time Tracker Not Loading"
We are using Cloud JIRA and the plugin doesn't seem to load for the past 2 days.  For the new 'view' on service desk issue it just doesn't show anything, on the old JIRA view it says App is not responding.
![jir_Harvest](https://user-images.githubusercontent.com/62754466/77762470-f5ddde00-700f-11ea-8282-9b3dad795dd2.png)

[2020-03-27 16:06] gsomoza commented on #101
Hi @msugjw , we released a new version that should fix that issue just around the time you posted this. Could you please check again?

[2020-03-27 17:02] msugjw commented on #101
I tested again with multiple browsers, clearing cache, signing out of Jira and still experiencing same issue.

[2020-03-28 12:11] gsomoza commented on #101
@msugjw  could you check that you're running the latest version of the add-on? It's called [Harvester Real-Time Tracker](https://marketplace.atlassian.com/apps/1219223/harvester-real-time-tracking?hosting=cloud&tab=overview)

If you're running an old version then I recommend you to upgrade.

If you're running the old add-on on a Cloud instance (called "Harvest Real-Time Tracking by Strategery") pl

[2020-03-30 12:28] msugjw commented on #101
We are using 20180516.0.2-AC

Guessing that is the older version since I see your latest update on the marketplace is 3/27.   I'll contact support regarding pricing.

[2020-04-10 17:12] joedalsin opened #102 "Category selection on time entry in harvest is often incorrect."
**Describe the bug**
When selecting a Harvest project and category on a Jira issue it often happens that the result in harvest has the incorrect category.

For example I may choose Project "A", Category "Software Development" in jira only find in harvest that it has started a timer to Project "A", Category "QA"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a Jira Issue
2. Click on Tr

[2020-04-13 08:29] gsomoza commented on #102
Thanks for reporting, we'll get to it asap!

[2020-04-13 08:38] gsomoza commented on #102
Quick follow-up question @joedalsin: could you please try to clear all cookies and local storage for the plugin (domain `harvest-jira.strategery.io`) and try again? Just to see if this could be a cache issue.

**Chrome:** navigate to `chrome://settings/siteData`
**[Firefox](https://support.mozilla.org/en-US/kb/clear-cookies-and-site-data-firefox)**
**[Safari](https://www.laptopmag.com/articles/saf

[2020-04-15 09:41] #101 closed, assigned to nobody

[2020-04-15 09:50] gsomoza commented on #99
We added some code to improve reliability, and will soon release an upgrade to the latest version of the Harvest API – could you check if the issue persists after updating the plugin? Please also make sure you're using the latest plugin: [Harvester Real-Time Tracking](https://marketplace.atlassian.com/apps/1219223/harvester-real-time-tracking?hosting=cloud&tab=overview)

[2020-04-15 09:51] gsomoza commented on #95
Closing due to inactivity

[2020-04-15 09:51] #95 closed, assigned to nobody

[2020-04-15 09:51] gsomoza commented on #82
Closing due to inactivity

[2020-04-15 09:51] #82 closed

[2020-04-15 09:52] gsomoza commented on #80
Closing due to inactivity

[2020-04-15 09:52] #80 closed

[2020-04-15 09:54] gsomoza commented on #79
Closing due to inactivity / old issue

[2020-04-15 09:54] #79 closed

[2020-04-15 09:56] gsomoza commented on #20
Closing due to inactivity / old issue

[2020-04-15 09:56] #20 closed

[2020-04-15 09:56] gsomoza commented on #24
Closing due to inactivity / old issue

[2020-04-15 09:56] #24 closed

[2020-04-15 09:56] gsomoza commented on #68
Closing due to inactivity / old issue

[2020-04-15 09:56] #68 closed

[2020-04-15 09:57] gsomoza commented on #72
Closing: we decided pursuing this option is complicated on several levels, since this is a billed plugin.

[2020-04-15 09:57] #72 closed

[2020-04-15 09:58] gsomoza commented on #90
Closing: an email was sent to all customers with new instructions

[2020-04-15 09:58] #90 closed, assigned to nobody

[2020-04-15 09:59] #14 closed

[2020-04-15 10:00] gsomoza commented on #29
It's unlikely we'll implement this feature because most use-cases can be covered on the Harvest configuration. We'll re-open if we see more customers are interested in it.

[2020-04-15 10:00] #29 closed

[2020-04-15 10:01] gsomoza commented on #30
We won't pursue this feature because there's no easy way to make it cross-platform (Server / Cloud). Closing, at least for now..

[2020-04-15 10:01] #30 closed

[2020-04-15 10:01] gsomoza commented on #44
Closing because this was fixed/improved after the re-write of the plugin.

[2020-04-15 10:01] #44 closed

[2020-04-15 10:02] gsomoza commented on #45
This was implemented for Server.

[2020-04-15 10:02] #45 closed

[2020-04-15 10:04] gsomoza commented on #46
Closing this ticket for now, because implementing this feature would involve adding a lot of complexity to the stack and would make the plugin much harder to maintain (= more expensive). Will re-open if this becomes feasible in the future...

[2020-04-15 10:04] #46 closed

[2020-04-15 10:05] gsomoza commented on #48
Unfortunately there's no reliable way to do this right now, it would introduce instability to the system at several levels. Closing for now, at least until a better approach is available.. thanks for the suggestion!

[2020-04-15 10:05] #48 closed

[2020-04-15 10:05] gsomoza commented on #61
Closing because this should be resolved in the latest versions of the plugin.

[2020-04-15 10:05] #61 closed

[2020-04-15 10:05] #51 closed

[2020-04-15 10:07] gsomoza commented on #69
This feature is supported now on the latest version of our plugin

[2020-04-15 10:07] #69 closed

[2020-04-15 10:08] gsomoza commented on #67
To do: re-check this behavior on the latest version of the plug-in.

[2020-04-15 10:09] gsomoza commented on #52
Closing due to inactivity – feature should be working in latest versions of the plugin

[2020-04-15 10:09] #52 closed

[2020-04-22 14:35] joedalsin commented on #102
Gabrial,
Clearing the cache does indeed temporarily fix the problem.  However it
does eventually return.  We haven't identified any pattern yet as when it
returns.  For me the clearing the cache worked for a couple of days.

Thanks. Joe Dalsin

On Mon, Apr 13, 2020 at 3:38 AM Gabriel Somoza <notifications@github.com>
wrote:

--
*Joe Dalsin*
Founding Partner
Cloudburst, SBC <https://cloudburststudi

[2020-04-22 14:42] joedalsin commented on #102
Gabriel,
I just noticed something new.  When the selecting the Project and Category
the category is always correct if I change it, but if I leave it at the
default category it's wrong.

Steps to recreate issue:
1.  Click the "Track Time" button on a jira issue.
2. Pick a different project than the default, but do not touch the category.
3. Click Start Timer.

Notice in harvest (outside of Jira) th

[2020-04-22 14:56] gsomoza commented on #102
Oh, awesome, that really helps! I think it's similar to another report as well, so we'll look into it and fix asap.

[2020-04-28 12:52] gsomoza commented on #100
Quick update: we were able to duplicate the issue and we're about to release a fix.

[2020-04-28 12:52] gsomoza commented on #102
Quick update: we were able to duplicate the issue and we're about to release a fix.

[2020-05-05 12:17] gsomoza commented on #102
The potential fix was release last week. @joedalsin could you please confirm if this worked for you?

[2020-05-05 12:17] gsomoza commented on #100
The potential fix was release last week. @rconcepcion88  could you please confirm if this worked for you?

[2020-05-05 17:11] joedalsin commented on #102
The most recent update appears to have fixed the issue.  The categories are
now set in harvest to the selection made in jira plugin.
Thanks for your help.

Joe Dalsin

On Tue, May 5, 2020 at 7:17 AM Gabriel Somoza <notifications@github.com>
wrote:

--
*Joe Dalsin*
Founding Partner
Cloudburst, SBC <https://cloudburststudio.com/> // A Startup Studio
GET STARTED.
LinkedIn <https://www.linkedin.com/in

[2020-05-06 11:53] gsomoza commented on #102
Thanks for the confirmation! Closing the ticket.

[2020-05-06 11:53] #102 closed, assigned to gsomoza, VitaliiTsilnyk

[2020-05-06 11:54] gsomoza commented on #100
Another customer confirmed this issue is fixed. Thanks again for reporting the bug! Will close the ticket for now.

[2020-05-06 11:54] #100 closed, assigned to gsomoza, VitaliiTsilnyk

[2020-05-06 11:55] gsomoza commented on #99
@plato1123 could you please confirm which version of the plugin you're running?

[2020-07-27 17:14] ksartain opened #103 "Not able to connect"
![Screen Shot 2020-07-27 at 1 13 28 PM](https://user-images.githubusercontent.com/33069113/88571008-01b3ce00-d00b-11ea-8a9a-3f06cfaff28a.png)

Our team is getting this error message when trying to track time.

[2020-07-29 14:13] gsomoza commented on #103
Thanks for reporting. Could you please email me the following information?
* Your Atlassian SEN / license number
* A copy if your browser's Console output (found within Developer Tools). Feel free to filter out any lines that may include sensitive information.
* A copy of any errors in the "Network" tab (also within Developer Tools), as well as any requests to the `cloud.harvest-jira.strategery.io

[2020-07-29 14:24] gsomoza commented on #103
Could you please also verify if you can load the following URL using the same browser with which you had the issue? https://cloud.harvest-jira.strategery.io/v1/atlassian-connect.json

[2020-07-29 17:10] ksartain commented on #103
It seems like everything went back to functioning properly an hour or so
after my reported ticket.

Thanks for the follow up!
--
Kristin Sartain
Director of Projects
804-366-8639
www.kalamuna.com

On Wed, Jul 29, 2020 at 10:25 AM Gabriel Somoza <notifications@github.com>
wrote:

[2020-08-03 13:30] gsomoza commented on #103
Glad to hear that and thanks for the update!

[2020-08-03 13:30] #103 closed, assigned to nobody

[2020-08-03 13:31] gsomoza commented on #103
FYI we didn't change anything on our end, so I'm not sure what could have caused it. It could have been a temporary outage in AWS (what we use to host our files) but I'm not sure about that either...

[2021-02-12 00:24] rkale88 opened #104 "Is it possible to authenticate in Harvest using LDAP or Azure SSO?"
All current users are just given their set of username and password. We currently have Harvest integrated with our Jira instance.
Is it possible to authenticate in Harvest using LDAP or Azure SSO?

[2021-02-12 10:14] gsomoza commented on #104
This plugin uses OAuth in order to request access to a user's Harvest account via the Harvest API. This means the JIRA user is sent to a Harvest authentication screen where they can "allow" the plugin to access their account's API. That screen belongs to the Harvest platform, so the user would have to log into Harvest using whatever authentication mechanism is configured for their Harvest account.

[2021-02-12 10:14] #104 closed, assigned to nobody

[2021-02-12 10:15] gsomoza commented on #99
Closing due to inactivity.

[2021-02-12 10:15] #99 closed, assigned to nobody

[2021-02-23 16:33] rkale88 opened #105 "Does Harvest in Jira support SSO using Azure?"
Does Harvest in Jira support SSO using Azure? If not, any alternatives? What are the only SSOs supported by Harvest? Is it only Google?

[2021-02-23 16:35] rkale88 commented on #105
We have licensed plug-in (Harvester Real-Time Tracking) SEN-13419101.
Please respond to randy.concepcion@global.ntt instead related to this ticket.

[2021-02-24 16:06] localhost27 opened #106 "Jira left menu crashes"
This is the error I get in the console when I enable the plugin:

`Uncaught Error: only one instance of babel-polyfill is allowed
    at Object.<anonymous> (batch.js?agile_global_admin_condition=true&baseurl-check-resources=true&healthcheck-resources=true&jag=true&jaguser=true&jira.create.linked.issue=true&locale=en-US&richediton=true&user-logged-in=true:6616)
    at Object._0x43bd (batch.js?agile

[2021-02-24 20:40] rkale88 commented on #105
Any updates?

[2021-02-25 11:46] gsomoza commented on #105
Our plugin redirects your users to the Harvest authentication screen (for OAuth authentication), so whichever authentication methods you have set up for your Harvest account should work with our plugin as well.

If you're asking whether Harvest supports SSO using Azure: I think it's possible, but I'm not really sure because we don't use that ourselves. I recommend contacting the Harvest support te

[2021-02-25 11:50] gsomoza commented on #106
Thanks for reporting this, we'll look into it and if necessary patch it as soon as possible.

[2021-04-29 22:02] ksartain opened #107 "Question: Is there a way to resync the Harvest/JIRA project connection if one has been changed?"
When we are using the time tracker with a new harvest project and new JIRA project, the tracker automatically pulls up the correct project when logging time. If the harvest or JIRA project are ever updated, the tracker doesn't seem to be able to pull up the project correctly (so the user has to search for the correct project).

Is there a way for us to resync the connection?

[2021-12-13 21:03] carrchr opened #108 "Unable to sign in thru Harvest"
**Describe the bug**
Login pop-up window says

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any Jira issue
2. Click on Sign Into Harvest button
3. new Browser Window pops-up and displays Authorize sign in to Harvest
4. Nothing changes in Jira. See errors in browser console

**Expected behavior**
Login and be able to enter time

**Screenshots**
<img width="662" alt="Screen Shot 2021-1

[2021-12-15 16:09] gsomoza commented on #108
Hi @carrchr, a few things that might help:
1. Could you please confirm you're running the latest version of the module? That's currently `1.0.28-SNAPSHOT` for JIRA Server.
2. Could you please check the URL in your JIRA configuration and make sure the `API Host` field is set to `api.harvestapp.com`?
2. Please also make sure you're using one of the NEW harvest OAuth2 applications (https://id.getharv

[2021-12-15 16:33] carrchr commented on #108
1. can confirm we are running latest version
2. updating API Host to `api.harvestapp.com` fixed it!
We had already done 3.

[2021-12-15 17:27] gsomoza commented on #108
Nice, glad that fixed it!

[2021-12-15 18:22] gsomoza commented on #108
I'll reopen this issue in case it can help someone else

[2022-01-21 09:15] shernandez-ctrlQS commented on #108
Hi Gabriel / @gsomoza,

We switched to the newer version of the plug-in but struggled a bit to figure out why it didn´t work anymore (very same issue reported here).
I think it makes sense displaying better that users need to change the Harvest API URL from their custom instance´s one to the generic public one. I only found it because I came here to GitHub to open a ticket and saw this one.
Works

[2022-02-17 15:32] msugjw opened #109 "Login Loop JIRA Cloud"
**Describe the bug**
When trying to login to Harvest from JIRA it never fully authenticates and just loops back to Sign in.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the 'Sign into Harvest' button from any project\ticket in JIRA
2. On the 'Allow Access' screen that comes up click 'Approve'
3. It brings you back to the 'Sign into Harvest' button in JIRA ticket

**Expected behav

[2022-02-17 20:38] DobyTang commented on #109
Confirmed
Chrome - Version 98.0.4758.80 (Official Build) (x86_64)
OS : OSX 12.2

[2022-02-18 08:31] HOMEdigital commented on #109
Same with Jira Server v8.20.5
after updating this plugin in Jira i only get "invalid_request" in the window of the 2. step where i had to click "Approve"

Chrome - Version 98.0.4758.82 (Offizieller Build) (64-Bit)
Firefox - 97.0
Windows 11 - Version 10.0.22000 Build 22000

[2022-02-21 01:26] TonyCiniglioMT commented on #109
Same here - none of my team can connect between Harvest and Jira.
Across a range of OS and browser types.
Used to work perfectly.

[2022-02-22 08:13] HOMEdigital commented on #109
This solved the problem for us: https://github.com/Strategery-Inc/jira-harvest-time-tracker/issues/108#issuecomment-994937840

[2022-02-22 14:25] gsomoza commented on #109
We found the issue and it should be fixed as of yesterday on all Jira Cloud installs. We don't expect the issue to happen again because it was related to a change in the Harvest API. If anyone still has issues logging in please let me know!

[2022-02-22 14:26] gsomoza commented on #109
For users running Jira Server please see indeed #108 for the resolution.

[2022-02-22 14:29] gsomoza commented on #108
We're working this week on a notification that will send users to a documentation page with the steps clearly explained. Now that Harvest removed the need to point to different API hosts, we will also remove this option from the configuration section, making sure user can't break their configs by accident anymore and automatically upgrading anyone who didn't take these steps yet. The step of manua

[2022-02-22 15:13] msugjw commented on #109
We are still experiencing the same issue on JIRA cloud, I checked to see if there was an update to the app but it does not show one in my JIRA admin.  We are using version 20180516.0.7-AC

[2022-02-22 16:40] ksartain commented on #109
Confirmed that we are still running into this issue on Jira Cloud. Please let us know when to expect an update. Thanks!

[2022-02-22 23:54] andrewmallis commented on #108
@gsomoza can you please post the link to the documentation page here?

[2022-03-08 16:18] gsomoza commented on #109
@msugjw judging by the version number you cited (which is from 2018) it's possible that you're running on an archived App. @ksartain that may be your situation too.

Our development team for this tool is in Ukraine (Kiev) and hardly operational at this moment, which is why we're having issues to provide technical support. I'm still in touch with our developer there so I'll add a fix for the archiv

[2022-03-08 16:38] gsomoza commented on #108
@andrewmallis see here: https://github.com/Strategery-Inc/jira-harvest-time-tracker/wiki/Debugging-Issues-with-Login - we'll expand with more information / details on an as-needed basis (feel free to share any questions / feedback).

[2022-03-08 16:42] gsomoza commented on #109
Documentation page for troubleshooting: https://github.com/Strategery-Inc/jira-harvest-time-tracker/wiki/Debugging-Issues-with-Login

[2022-06-23 02:43] richardhauer opened #110 "Question: What determines the pre-selection of Project in Track Time window"
We have been using the tool for a while now and for the most part it works well, so kudos for that!

When opening the Track Time window the list of Projects used to be sorted alphabetically (until recently) with the first project automatically selected.  Naturally this lead to people incorrectly assigning their time to that project.

For me the project list appears to no longer be alphabetical and

[2022-09-07 03:03] richardhauer opened #111 "Preselection and sorting of the Project drop-down in the Track Time window"
When using the Track Time button on a task a "window" is "popped up" that displays a drop-down of projects assigned to the user.
This drop-down used to be sorted alphabetically by Company then Project Name, but the sorting seems to have gone haywire.

Further the box seems to pre-select a Project but it's not clear what (if any) logic is being used to match up the Harvest Client/Project with that